<div class="feature feature_clutch">
    <div class="feature__characteristics">
        <div class="feature__title">
            СЦЕПЛЕНИЕ
        </div>
        <div class="feature__value">
            4.60
        </div>
    </div>
    <div class="slider">
        <span class="slider__filled"></span>
    </div>
</div>
