.feature {

  &__characteristics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;

    @include retina {
      margin-bottom: 0.83vw;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;

    @include retina {
      font-size: 0.62vw;
    }

    &:before {
      content: '';
      background-position: center;
      width: 20px;
      height: 20px;
      margin-right: 6px;

      @include retina {
        width: 1.04vw;
        height: 1.04vw;
        margin-right: 0.31vw;
      }
    }
  }

  &__value {
    font-size: 14px;
    color: $grey;

    @include retina {
      font-size: 0.72vw;
    }
  }

  &_1 {

    .feature__title {

      &:before {
        background-size: 16px;
        background-image: url($images + 'icons/clutch.svg');

        @include retina {
          background-size: 0.83vw;
        }
      }
    }
  }

  &_2 {

    .feature__title {

      &:before {
        background-size: 18px;
        background-image: url($images + 'icons/star.svg');

        @include retina {
          background-size: 0.93vw;
        }
      }
    }
  }

  &_3 {

    .feature__title {

      &:before {
        background-size: 18px;
        background-image: url($images + 'icons/brake.svg');

        @include retina {
          background-size: 0.93vw;
        }
      }
    }
  }

  &_4 {

    .feature__title {

      &:before {
        background-size: 12px;
        background-image: url($images + 'icons/drop.svg');

        @include retina {
          background-size: 0.62vw;
        }
      }
    }
  }

  &_5 {

    .feature__title {

      &:before {
        background-size: 14px;
        background-image: url($images + 'icons/lightning.svg');

        @include retina {
          background-size: 0.72vw;
        }
      }
    }
  }

  &_6 {

    .feature__title {

      &:before {
        background-size: 19px;
        background-image: url($images + 'icons/right.svg');

        @include retina {
          background-size: 0.98vw;
        }
      }
    }
  }

  &_7 {

    .feature__title {

      &:before {
        background-size: 15px;
        background-image: url($images + 'icons/bullet.svg');

        @include retina {
          background-size: 0.78vw;
        }
      }
    }
  }

  &_8 {

    .feature__title {

      &:before {
        background-size: 18px;
        background-image: url($images + 'icons/fasting.svg');

        @include retina {
          background-size: 0.93vw;
        }
      }
    }
  }

  &_9 {

    .feature__title {

      &:before {
        background-size: 17px;
        background-image: url($images + 'icons/aim.svg');

        @include retina {
          background-size: 0.88vw;
        }
      }
    }
  }
}