.banner-2 {
	height: 180px;
	border-radius: 45px;
	background-image: url($images + 'modules/banner-2/stars.png'), url($images + 'modules/banner-2/banner2-bg.png');
	background-size: cover;
	display: flex;
	align-items: center;
	padding-left: 80px;
	overflow: hidden;
	border: 1px solid rgba(74, 144, 226, 0.1);

	@include retina {
		height: 9.37vw;
		border-radius: 2.34vw;
		padding-left: 4.16vw;
	}

	&:hover {
		.banner-2__content-active {
			opacity: 0;
		}

		.banner-2__content-inactive {
			opacity: 1;
		}
	}

	&__content-active,
	&__content-inactive {
		transition: all $transition;
	}

	&__avatar {
		position: relative;
		top: 11px;

		@include retina {
			top: 0.57vw;
		}

		&:before {
			content: '';
			width: 217px;
			height: 221px;
			background-image: url($images + 'modules/banner-2/shape.svg');
			background-size: contain;
			background-position: center;
			position: absolute;
			top: -55px;
			left: -55px;

			@include retina {
				width: 11.3vw;
				height: 11.51vw;
				top: -2.86vw;
				left: -2.86vw;
			}
		}

		.avatar {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background-image: linear-gradient(45deg, #51e2c4, #58b9ff);
				border-radius: 34px;

				@include retina {
					top: -0.1vw;
					bottom: -0.1vw;
					left: -0.1vw;
					right: -0.1vw;
					border-radius: 1.77vw;
				}
			}
		}

		.avatar__wrapper {
			position: relative;
		}

		.avatar__position {
			border: unset;
			width: 24px;
			height: 24px;
			top: -2px;
			right: -7px;

			@include retina {
				width: 1.25vw;
				height: 1.25vw;
				top: -0.1vw;
				right: -0.36vw;
			}

			&.box {
				position: absolute;
			}
		}

		.avatar__wrapper {
			box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.24);

			@include retina {
				box-shadow: inset 0 0 0.72vw rgba(0, 0, 0, 0.24);
			}
		}
	}

	&__name {
		text-align: center;
		margin-top: 8px;
		font-size: 12px;
		color: $accent-color;

		@include retina {
			margin-top: 0.41vw;
			font-size: 0.62vw;
		}
	}

	&__content {
		text-align: center;
		margin-left: auto;
		position: relative;
		flex-grow: 1;
		padding: 0 18px;

		@include retina {
			padding: 0 0.93vw;
		}
	}

	&__earning {
		font-size: 16px;
		color: #88bfff;
		margin-bottom: 2px;

		@include retina {
			font-size: 0.83vw;
			margin-bottom: 0.1vw;
		}
	}

	&__king {
		color: $white;
		font-family: $font-family-2;
		font-size: 32px;

		@include retina {
			font-size: 1.66vw;
		}
	}

	&__content-inactive {
		position: absolute;
		opacity: 0;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}
