.right-sidebar {

  @include xl-less {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: all $transition;
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  &__box {
    display: flex;
    flex-direction: column;
    min-width: 292px;
    border-radius: 42px;
    border: 1px solid #20242d;
    background-color: $bg-color;
    padding: 32px 24px;
    overflow: auto;
    position: absolute;

    @include xl-less {
      top: 14px;
      bottom: 14px;
      right: 14px;
      transform: scale(0.8);
      transform-origin: center top;
      transition: all $transition;
    }

    @include xl {
      flex-shrink: 0;
      width: 350px;
      border-radius: 42px 0 0;
      padding: 32px;
      top: 120px;
      bottom: 0;
      right: 0;
    }

    @include retina {
      width: 18.22vw;
      border-radius: 2.18vw 0 0;
      padding: 1.66vw;
      top: 6.25vw;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    z-index: 2;

    @include retina {
      margin-bottom: 1.25vw;
    }
  }

  &__filter {
    z-index: 1;
  }

  &_active {

    @include xl-less {
      visibility: visible;
      opacity: 1;
    }

    .right-sidebar__box {

      @include xl-less {
        transform: scale(1);
      }
    }
  }
}