<div class="right-sidebar">
	<div class="right-sidebar__box">

		<div class="right-sidebar__top">
			<div class="right-sidebar__heading heading heading_sm">КОРОЛИ МАРКЕТА</div>
			<div class="right-sidebar__filter filter">
				<div class="filter__btn box box_size_4 box_cubes box_hover"></div>
				<div class="filter__box">
					<div class="filter__items">
						<div class="filter__item">Заработано</div>
						<div class="filter__item filter__item_active">Потрачено</div>
						<div class="filter__item">Куплено</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right-sidebar__players players">
			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 box_crown_gold avatar__position"></div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 box_crown_silver avatar__position"></div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 box_crown_bronze avatar__position"></div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player player_focus">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">67</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">4</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">5</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">6</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">7</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">8</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">9</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

			<div class="players__item player">
				<div class="player__avatar avatar avatar_size_3">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
					</div>
					<div class="box box_size_7 avatar__position">10</div>
				</div>
				<div class="player__info">
					<div class="player__info-item">
						<div class="player__name">Ashley Graham</div>
						<div class="player__rating rating player__rating">
							<span class="rating__level">5</span>
						</div>
					</div>
					<div class="player__info-item">
						<div class="player__earn">Всего заработано:</div>
						<div class="player__dollars dollars">987KK</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>