<div class="balance">
    <div class="dollars dollars_size_2 balance__dollars">23KK</div>

    <div class="coins coins_size_2 balance__coins">24 500</div>

    <div class="balance__charge box box_size_4"></div>
</div>