.balance {
  border-radius: 18px;
  border: 1px solid #20242d;
  background-color: $bg-color;
  padding: 9px 10px 9px 17px;
  display: flex;
  align-items: center;
  max-width: 292px;

  @include retina {
    border-radius: 0.93vw;
    padding: 0.46vw 0.52vw 0.46vw 0.88vw;
    max-width: 15.2vw;
  }

  &__dollars {
    padding-right: 22px;
    position: relative;
    font-size: 16px;

    @include retina {
      padding-right: 1.14vw;
      font-size: 0.83vw;
    }

    &:after {
      content: '';
      width: 1px;
      height: 20px;
      border-radius: 1px;
      background-color: #252935;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      @include retina {
        width: 0.05vw;
        height: 1.56vw;
        border-radius: 0.05vw;
      }
    }
  }

  &__coins {
    margin-left: 20px;
    margin-right: 33px;

    @include retina {
      margin-left: 1.04vw;
      margin-right: 1.71vw;
    }
  }

  &__charge {
    margin-left: auto;
    cursor: pointer;
  }
}