.welcome {
  border-radius: 42px;
  border: 1px solid #20242d;
  background-color: $bg-color;
  padding: 32px 18px;
  position: relative;

  @include lg {
    padding: 32px;
  }

  @include retina {
    border-radius: 2.18vw;
    padding: 1.66vw;
  }

  &__content {
    margin-top: 24px;

    @include lg {
      margin-left: 32px;
      margin-top: 0;
    }

    @include retina {
      margin-left: 1.66vw;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include lg {
      flex-direction: row;
      text-align: left;
      align-items: center;
    }
  }

  &__filter {
    right: 32px;
    top: 32px;

    &.filter {
      position: absolute;
    }

    @include retina {
      right: 1.66vw;
      top: 1.66vw;
    }
  }

  &__greeting {
    color: $white;
    font-size: 24px;

    @include retina {
      font-size: 1.25vw;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;

    @include retina {
      font-size: 0.72vw;
      margin-top: 0.52vw;
    }
  }

  &__details {
    margin-top: 33px;

    @include lg {
      margin-top: 40px;
      display: flex;
      align-items: center;
    }

    @include retina {
      margin-top: 2.08vw;
    }
  }

  &__details-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 29px;

      @include lg {
        margin-bottom: 0;
        margin-right: 50px;
      }

      @include xl {
        margin-right: 20px;
      }

      @include xxl {
        margin-right: 50px;
      }

      @include retina {
        margin-right: 2.6vw;
      }
    }

    &:before {
      content: '';
      width: 24px;
      height: 27px;
      position: absolute;
      left: 0;
      bottom: 4px;
      background-size: contain;

      @include retina {
        width: 1.25vw;
        height: 1.4vw;
        bottom: 0.2vw;
      }
    }

    &_sales {
      padding-left: 38px;

      @include retina {
        padding-left: 1.97vw;
      }

      &:before {
        background-image: url($images + 'icons/bag.svg');
      }
    }

    &_price {
      padding-left: 30px;

      @include retina {
        padding-left: 1.56vw;
      }

      &:before {
        background-image: url($images + 'icons/dollar.svg');
      }
    }
  }

  &__details-option {
    font-size: 10px;
    color: $grey;
    margin-bottom: 6px;

    @include retina {
      font-size: 0.52vw;
      margin-bottom: 0.31vw;
    }
  }

  &__details-value {
    font-size: 24px;
    color: $white;

    @include retina {
      font-size: 1.25vw;
    }
  }
}