<div class="welcome">
	<div class="welcome__user">
		<div class="welcome__avatar avatar avatar_size_1">
			<div class="avatar__wrapper">
				<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar"/>
			</div>
		</div>
		<div class="welcome__content">
			<div class="welcome__greeting">Привет, Aleks!</div>
			<div class="welcome__text">Проверь свою статистику на маркете.</div>
		</div>
	</div>
	<div class="welcome__details market-details">
		<div class="welcome__details-item  market-details__item market-details__item_sales">
			<div class="market-details__info">
				<div class="market-details__option">ПРОДАЖИ</div>
				<div class="market-details__value">2 970</div>
			</div>
		</div>
		<div class="welcome__details-item  market-details__item market-details__item_price">
			<div class="market-details__info">
				<div class="market-details__option">ПРОДАЖИ НА СУММУ</div>
				<div class="market-details__value">68 900 483</div>
			</div>
		</div>
	</div>
	<div class="welcome__filter-btn box box_size_4 box_cubes"></div>
</div>