<div class="avatar avatar_size_1 avatar_badge">
    <div class="avatar__wrapper">
        <img src="../../assets/pictures/avatar-2.png" class="avatar__img" alt="user-avatar"/>
    </div>
</div>

<div class="avatar avatar_size_2">
    <div class="avatar__wrapper">
        <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar"/>
    </div>
</div>

<div class="avatar avatar_size_3">
    <div class="avatar__wrapper">
        <img src="../../assets/pictures/avatar-2.png" class="avatar__img" alt="user-avatar"/>
    </div>
    <div class="avatar__position box box_size_7"></div>
</div>

<div class="avatar avatar_size_4">
    <div class="avatar__wrapper">
        <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar"/>
    </div>
</div>