.avatar {
  display: inline-block;
  position: relative;

  &__position {
    position: absolute;
    top: -6px;
    right: -11px;
    border: 2px solid $bg-color;
    z-index: 1;
    box-sizing: content-box;

    @include retina {
      top: -0.31vw;
      right: -0.57vw;
      border: 0.1vw solid $bg-color;
    }

    &.box {
      padding: 0;
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_size_1 {
    
    .avatar__wrapper {
      width: 100px;
      height: 100px;
      border-radius: 32px;

      @include retina {
        width: 5.2vw;
        height: 5.2vw;
        border-radius: 1.66vw;
      }
    }
  }

  &_size_2 {
    
    .avatar__wrapper {
      width: 72px;
      height: 72px;
      border-radius: 24px;

      @include xl {
        width: 52px;
        height: 52px;
        border-radius: 18px;
      }

      @include retina {
        width: 2.7vw;
        height: 2.7vw;
        border-radius: 0.93vw;
      }
    }
  }

  &_size_3 {
    
    .avatar__wrapper {
      width: 42px;
      height: 42px;
      border-radius: 12px;

      @include xl {
        width: 52px;
        height: 52px;
        border-radius: 18px;
      }

      @include retina {
        width: 2.18vw;
        height: 2.18vw;
        border-radius: 0.62vw;
      }
    }
  }

  &_size_4 {
    
    .avatar__wrapper {
      width: 32px;
      height: 32px;
      border-radius: 10px;

      @include retina {
        width: 1.66vw;
        height: 1.66vw;
        border-radius: 0.52vw;
      }
    }
  }

  &_size_5 {
    .avatar__wrapper {
      width: 42px;
      height: 42px;
      border-radius: 50%;

      @include retina {
        width: 2.18vw;
        height: 2.18vw;
      }
    }
  }

  &_bordered-1 {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      background-image: linear-gradient(45deg, #1d866e, #4ddebe);
      border-radius: 50%;
    }

    .avatar__wrapper {
      position: relative;
    }
  }

  &_badge {

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #1d202a;
      background-color: $accent-color;
      position: absolute;
      top: -2px;
      right: -2px;

      @include retina {
        width: 0.52vw;
        height: 0.52vw;
        border: 0.1vw solid #1d202a;
        top: -0.1vw;
        left: -0.1vw;
      }
    }
  }
}