<div class="operations-history">
	<div class="operations-history__top">
		<div class="heading">ИСТОРИЯ ОПЕРАЦИЙ</div>
		<div class="operations-history__filter select select_icon select_sort">
			<div class="select__btn">
				<div class="select__btn-text">Все товары</div>
			</div>
			<div class="select__list">
				<div class="select__item">
					<div class="select__item-text">Транспорт</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Одежда</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Бизнесы</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Аксессуары</div>
				</div>
			</div>
		</div>

	</div>

	<div class="operations__table table">
		<div class="table__inner">
			<div class="table__headings">
				<div class="table__headings-item">Дата / Время</div>
				<div class="table__headings-item operations__big-heading">Название предмета</div>
				<div class="table__headings-item">Покупка / Продажа</div>
				<div class="table__headings-item">Сумма</div>
			</div>
			<div class="table__rows">
				<div class="table__row">
					<div class="table__cell">
						<span class="operations__date">29.08.2020</span>
						<span class="operations__time">18:34:06</span>
					</div>
					<div class="table__cell operations__big-cell">
						<div class="operations__product">
							<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
						</div>
						<div class="operations__sort sort sort_2"></div>
						<span class="operations__product-title">Nike Air Max 95 Ultra</span>
					</div>
					<div class="table__cell operations__price">
						<div class="dollars">7 900 800</div>
					</div>
					<div class="table__cell">
						the button
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell">
						<span class="operations__date">29.08.2020</span>
						<span class="operations__time">18:34:06</span>
					</div>
					<div class="table__cell operations__big-cell">
						<div class="operations__product">
							<img class="operations__product-image" src="../../assets/pictures/products/1.png" alt="table-thumbnail"/>
						</div>
						<div class="operations__sort sort sort_1"></div>
						<span class="operations__product-title">Mazda 911 Sport</span>
					</div>
					<div class="table__cell operations__price">
						<div class="dollars">33 900 800</div>
					</div>
					<div class="table__cell">
						the button
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell">
						<span class="operations__date">29.08.2020</span>
						<span class="operations__time">18:34:06</span>
					</div>
					<div class="table__cell operations__big-cell">
						<div class="operations__product">
							<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
						</div>
						<div class="operations__sort sort sort_2"></div>
						<span class="operations__product-title">Nike Air Max 95 Ultra</span>
					</div>
					<div class="table__cell operations__price">
						<div class="dollars">7 900 800</div>
					</div>
					<div class="table__cell">
						the button
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="operations-history__pagination">
		<div class="pagination">
			<a href="" class="pagination__prev box box_size_1"></a>
			<div class="pagination__items">
				<a href="" class="pagination__item">3</a>
				<a href="" class="pagination__item">4</a>
				<a href="" class="pagination__item pagination__item_active">5</a>
				<a href="" class="pagination__item">6</a>
				<a href="" class="pagination__item">7</a>
			</div>
			<a href="" class="pagination__next box box_size_1"></a>
		</div>
	</div>

</div>