<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title><%- locals.blocks.title %></title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" href="../assets/css/app.css">

</head>
<body>

	<div class="page-wrapper">

		<%- locals.widget('left-sidebar/left-sidebar.ejs') %>
		<div class="content">
			<%- locals.widget('header/header.ejs') %>
			<div class="main-content">
				<main class="page page_<%- locals.blocks.page %>">
					<%- locals.body %>
				</main>
				<%- locals.widget('right-sidebar/right-sidebar.ejs') %>
			</div>
		</div>

	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

	<script>
		$(function () {
			// nav
			$('.header__nav-btn').on('click', function () {
				$(this).toggleClass('nav-btn_active');
				$('.header__menu-outer').toggleClass('header__menu-outer_active');
			});

			// left sidebar
			$('.header__deals-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.left-sidebar').toggleClass('left-sidebar_active');
			});

			$('.left-sidebar__volume').on('click', function () {
				$(this).toggleClass('left-sidebar__volume_off');
			});

			// right sidebar
			$('.header__top-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.right-sidebar').toggleClass('right-sidebar_active');
			});

			// filters
			$('.filters-btn').on('click', function () {
				$(this).parent().find('.filters__group').addClass('filters__group_active');
			});

			$('.filters__close').on('click', function () {
				$('.filters__group').removeClass('filters__group_active');
			});

			// modal
			$('.modal__features-btn').on('click', function () {
				$(this).parent().find('.modal__features').addClass('modal__features_active');
			});

			$('.modal__features-close').on('click', function () {
				$('.modal__features').removeClass('modal__features_active');
			});

			$('.modal__price-edit').on('click', function () {
				if ( $(this).hasClass('modal__price-edit_active') ) {
					$(this).parent().find('.modal__price-input').attr('readonly', true);
				}
				else {
					$(this).parent().find('.modal__price-input').attr('readonly', false).focus();
				}

				$(this).toggleClass('modal__price-edit_active');
			});

			$('.modal__back, .modal__close').on('click', function () {
				$('.modal').removeClass('modal_active');
			});

			$('.modal__tooltip').on('click', function () {
				$(this).toggleClass('modal__tooltip_active');
			});

			$('.modal__favorite').on('click', function () {
				$(this).toggleClass('box_active');
			});

			// select
			$('.select__btn').on('click', function () {
				$(this).parent().toggleClass('select_active');
			});

			// accordion
			$('.accordion__header').on('click', function () {
				$(this).parent().toggleClass('accordion__item_opened');
			});

			// header nots
			$('.header__not-btn, .profile__avatar').on('click', function () {
				$('.header__nots-outer').toggleClass('header__nots-outer_active');
			});
			$('.header__nots-close').on('click', function () {
				$('.header__nots-outer').removeClass('header__nots-outer_active');
			});

			// filter
			$('.filter__btn').on('click', function () {
				$(this).toggleClass('box_active');
				$(this).parent().toggleClass('filter_active');
			});
		});
	</script>

</body>
</html>
