.btn {
  min-width: 154px;
  min-height: 51px;
  outline: 0;
  border: 1px solid $accent-color;
  border-radius: 25px;
  padding: 2px 30px;
  background: linear-gradient(137deg, rgba(80, 227, 194, 0.1) 0%, rgba(61, 193, 158, 0.1) 100%);
  text-align: center;
  font-size: 15px;
  color: $accent-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $transition;
  cursor: pointer;

  @include xl {
    font-size: 12px;
    min-width: 110px;
    min-height: 36px;
    padding: 2px 20px;
    border-radius: 18px;
  }

  @include retina {
    font-size: 0.62vw;
    min-width: 5.72vw;
    min-height: 1.87vw;
    padding: 0.1vw 1.04vw;
    border-radius: 0.93vw;
  }

  &:hover {
    color: $white;
    background-image: linear-gradient(142deg, #50e3c2 0%, #1fa683 100%);
  }

  &_bigger {
    
    @include xl {
      font-size: 14px;
      min-height: 52px;
      min-width: 150px;
      padding: 0 30px;
      border-radius: 26px;
    }

    @include retina {
      font-size: 0.72vw;
      min-height: 2.7vw;
      min-width: 7.81vw;
      padding: 0 1.56vw;
      border-radius: 1.35vw;
    }
  }

  &_login {
    position: relative;

    @include xl {
      padding: 0 40px;
    }

    @include retina {
      padding: 0 2.08vw;
    }

    &:before {
      content: '';
      width: 8px;
      height: 6px;
      background-image: url($images + 'icons/arrows-left.svg');
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);

      @include xl {
        width: 9px;
        height: 7px;
        left: 20px;
      }

      @include retina {
        width: 0.46vw;
        height: 0.36vw;
        left: 1.04vw;
      }
    }

    &:hover {

      &:before {
        background-image: url($images + 'icons/arrows-left.2.svg');
      }
    }

    &.btn_bigger {

      @include xl {
        padding: 0 50px;
      }

      @include retina {
        padding: 0 2.6vw;
      }

      &:before {
        
        @include xl {
          width: 10px;
          height: 8px;
          left: 24px;
        }

        @include retina {
          width: 0.52vw;
          height: 0.41vw;
          left: 1.25vw;
        }
      }
    }
  }
}