.page-wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #20242e, #1a1d25), radial-gradient(circle 2017px at 80.77% -19.36%, #21252f 0%, #15181e 100%), radial-gradient(circle 1080px at 48.55% 0%, #232733 0%, #1a1d25 100%);

  @include xl {
    display: flex;
  }

  @include retina {
    background-image: linear-gradient(to bottom, #20242e, #1a1d25), radial-gradient(circle 105.05vw at 80.77% -19.36%, #21252f 0%, #15181e 100%), radial-gradient(circle 1080px at 48.55% 0%, #232733 0%, #1a1d25 100%);
  }
}