.nav-btn {
  width: 34px;
  height: 26px;
  background-image: url($images + 'icons/hamburger.svg');
  background-position: left center;
  background-size: 32px auto;
  cursor: pointer;

  &_active {
    background-image: url($images + 'icons/close.svg');
    background-size: 22px auto;
  }
}