.faq-page {

  @include xl {
    padding-top: 65px;

    @include retina {
      padding-top: 3.38vw;
    }
  }

  &__faq {
    max-width: 815px;
    margin: auto;

    @include retina {
      max-width: 42.44vw;
    }
  }
}