.dollars {
  font-size: 14px;
  font-family: $font-family-2;
  color: $white;
  display: inline-block;

  @include retina {
    font-size: 0.72vw;
  }

  &:before {
    content: '$';
    display: inline-block;
    color: $green;
    margin-right: 5px;

    @include retina {
      margin-right: 0.26vw;
    }
  }

  &_size_2 {
    font-size: 16px;
    
    @include retina {
      font-size: 0.83vw;
    }

    &:before {
      margin-right: 7px;

      @include retina {
        margin-right: 0.36vw;
      }
    }
  }

  &_size_3 {
    font-size: 18px;

    @include retina {
      font-size: 0.93vw;
    }

    &:before {
      margin-right: 10px;

      @include retina {
        margin-right: 0.52vw;
      }
    }
  }

  &_size_4 {
    font-size: 28px;
    
    @include xl {
      font-size: 32px;
    }

    @include retina {
      font-size: 1.66vw;
    }

    &:before {
      margin-right: 10px;

      @include retina {
        margin-right: 0.52vw;
      }
    }
  }
}