.left-sidebar {
  position: fixed;
  z-index: 20;

  @include xl-less {
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
  }

  @include xxl-less {
    visibility: hidden;
    opacity: 0;
    transition: all $transition;
  }

  &__box {
    border: 1px solid #20242d;
    background-color: $bg-color;
    padding: 32px 20px;
    overflow: hidden;
    position: absolute;

    @include xl-less {
      top: 14px;
      bottom: 14px;
      right: 14px;
    }

    @include xl-only {
      height: calc(100vh - 110px);
      top: 100px;
      left: 40px;
    }

    @include xl {
      position: fixed;
    }
    
    @include xxl-less {
      border-radius: 42px;
      transition: all $transition;
      transform: scale(0.8);
      transform-origin: center top;
    }

    @include xxl {
      top: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      flex-shrink: 0;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    @include retina {
      border-width: 0.05vw;
      width: 15.62vw;
      padding: 2.34vw 1.04vw;
    }

    &:after {
      content: '';
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));

      @include retina {
        height: 5.2vw;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @include xxl-less {
      padding: 0 4px;
    }

    @include retina {
      margin-bottom: 1.25vw;
    }
  }

  &__heading {

    @include xxl {
      order: 2;
      flex-grow: 1;
      text-align: center;
      padding: 0 42px 0 10px;
    }

    @include retina {
      padding: 0 2.18vw 0 0.52vw;
    }
  }

  &__volume {
    background-image: url($images + 'icons/volume.svg');
    background-size: 47% auto;
    cursor: pointer;

    @include xxl {
      order: 1;
    }

    &:hover {
      background-image: url($images + 'icons/volume.2.svg');
    }

    &_off {
      background-image: url($images + 'icons/volume-off.svg');
      background-size: 25% auto;

      &:hover {
        background-image: url($images + 'icons/volume-off.2.svg');
      }
    }
  }

  &_active {
    
    @include xxl-less {
      visibility: visible;
      opacity: 1;
    }
    
    .left-sidebar__box {
      
      @include xxl-less {
        transform: scale(1);
      }
    }
  }
}