<div class="left-sidebar">
  <div class="left-sidebar__box">
    
    <div class="left-sidebar__top">
      <div class="left-sidebar__heading heading heading_sm">LIVE ЛЕНТА</div>
      <div class="left-sidebar__volume box box_size_4 box_volume box_hover"></div>
    </div>

    <div class="left-sidebar__deals deals">

      <div class="deal deals__item deal_buy">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_sale">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_buy">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_buy">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_sale">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/9.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_sale">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/7.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_buy">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_sale">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_buy">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

      <div class="deal deals__item deal_sale">
        <div class="deal__avatar avatar avatar_size_4">
          <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
          </div>
        </div>
        <div class="deal__icon"></div>
        <div class="deal__image-wrapper">
          <img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
        </div>
        <div class="deal__product-name">Apartments Lux Monaco</div>
        <div class="deal__slider">
          <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>