.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  @include xl {
    margin-top: 36px;
  }

  @include retina {
    margin-top: 1.87vw;
  }

  & * {
    flex-shrink: 0;
  }

  &__prev {
    margin-right: 3px;

    @include xl {
      margin-right: 20px;
    }

    @include retina {
      margin-right: 1.04vw;
    }
  }

  &__next {
    margin-left: 3px;

    @include xl {
      margin-left: 20px;
    }

    @include retina {
      margin-left: 1.04vw;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 3px 0;
    min-width: 42px;
    height: 42px;
    border-radius: 28%;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    transition: all $transition;

    @include xl {
      padding: 2px 2px 0;
      min-width: 32px;
      height: 32px;
      font-size: 16px;
    }

    @include retina {
      padding: 0.1vw 0.1vw 0;
      min-width: 1.66vw;
      height: 1.66vw;
      font-size: 0.83vw;
    }

    &:not(:last-child) {
      margin-right: 3px;

      @include xl {
        margin-right: 20px;
      }

      @include retina {
        margin-right: 1.04vw;
      }
    }

    &:not(.pagination__item_active):hover {
      color: $white;
    }

    &_active {
      font-size: 20px;
      color: $white;
      background-color: $accent-color;

      @include xl {
        font-size: 16px;
      }

      @include retina {
        font-size: 0.83vw;
      }
    }
  }
}