<div class="pagination">
	<a href="" class="pagination__prev box box_size_1 box_prev"></a>
	<div class="pagination__items">
		<a href="" class="pagination__item">3</a>
		<a href="" class="pagination__item">4</a>
		<a href="" class="pagination__item pagination__item_active">5</a>
		<a href="" class="pagination__item">6</a>
		<a href="" class="pagination__item">7</a>
	</div>
	<a href="" class="pagination__next box box_size_1 box_next"></a>
</div>