<div class="filters">

	<!-- <div class="filters__name">История операций</div> -->
	
	<div class="filters__tabs">
		<a href="" class="filters__tab filters__tab_active">Мои товары</a>
		<a href="" class="filters__tab">На продаже<div class="filters__tab-count box box_size_4">67</div></a>
	</div>

	<div class="filters__btn filters-btn">Фильтры и сортировка</div>

	<!-- <input type="text" class="filters__search input input_icon input_search"> -->

	<div class="filters__group">

		<div class="filters__header">
			<div class="filters__title">Фильтры</div>
			<div class="filters__close"></div>
		</div>

		<div class="filters__item select select_icon select_type">
			<div class="select__btn">
				<div class="select__btn-text">Все товары</div>
			</div>
			<div class="select__list">
				<div class="select__item">
					<div class="select__item-text">Транспорт</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Одежда</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Бизнесы</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Аксессуары</div>
				</div>
			</div>
		</div>

		<div class="filters__item select select_icon select_icon-default">
			<div class="select__btn">
				<div class="select__btn-text">Не выбрано</div>
			</div>
			<div class="select__list">
				<div class="select__item">
					<div class="select__item-text">Транспорт</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Одежда</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Бизнесы</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Аксессуары</div>
				</div>
			</div>
		</div>

		<div class="filters__item select select_icon select_sort">
			<div class="select__btn">
				<div class="select__btn-text">По цене</div>
			</div>
			<div class="select__list">
				<div class="select__item">
					<div class="select__item-text">Транспорт</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Одежда</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Бизнесы</div>
				</div>
				<div class="select__item">
					<div class="select__item-text">Аксессуары</div>
				</div>
			</div>
		</div>

	</div>

</div>

<!-- <div class="filters">
	<div class="filters__name">История операций</div>
	<div class="filters__group"></div>
</div>

<div class="filters">
	<div class="filters__name">
		<a href="" class="filters__name-item">Мои товары</a>
		<a href="" class="filters__name-item">На продаже<div class="filters__name-count">67</div></a>
	</div>
	<div class="filters__group"></div>
</div> -->