.filters {
	margin-bottom: 24px;

	@include sm {
		display: flex;
	}

	@include xl {
		margin-bottom: 32px;
	}

	@include retina {
		margin-bottom: 1.66vw;
	}

	&__btn {

		@include sm {
			margin-left: auto;
		}

		@include md {
			display: none;
		}
	}

	&__search,
	&__name,
	&__tabs {
		
		@include sm {
			margin-right: 20px;
		}

		@include lg {
			margin-right: 30px;
		}

		@include retina {
			margin-right: 1.56vw;
		}
	}

	&__search {

		@include xs-only {
			margin-top: 14px;
		}

		@include sm {
			order: -1;
		}
	}

	&__name,
	&__tabs {
		font-size: 16px;
		line-height: 1.5;
		color: $white;
		text-transform: uppercase;

		@include xs-only {
			margin-bottom: 20px;
		}

		@include xl {
			font-size: 18px;
		}

		@include retina {
			font-size: 0.93vw;
		}
	}

	&__name {

		@include sm {
			padding-top: 10px;
		}

		@include xl {
			padding-top: 9px;
		}

		@include retina {
			padding-top: 0.46vw;
		}
	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include sm {
			position: relative;
			top: 1px;
		}

		@include retina {
			top: 0.05vw;
		}
	}

	&__tab {
		display: flex;
		align-items: center;
		color: $grey;
		text-decoration: none;
		white-space: nowrap;
		transition: all $transition;

		&:hover,
		&_active {
			color: $white;
		}

		&_active {

			.filters__tab-count {
				color: $accent-color;
				border: 1px solid $accent-color;
				background-image: linear-gradient(137deg, rgba(80, 227, 194, 0.1) 0%, rgba(61, 193, 158, 0.1) 100%);
			}
		}

		&:not(:last-child) {
			
			&:after {
				content: '/';
				display: inline-block;
				color: $grey;
				margin: 0 7px;

				@include xxl {
					margin: 0 15px;
				}

				@include retina {
					margin: 0 0.78vw;
				}
			}
		}
	}

	&__tab-count {
		margin-left: 10px;
		position: relative;
		top: -1px;

		@include retina {
			margin-left: 0.52vw;
			top: -0.05vw;
		}

		&.box {
			background-color: #2b303d;
			padding-top: 3px;

			@include retina {
				padding-top: 0.15vw;
			}
		}
	}

	&__search,
	&__btn {
		width: 100%;
		
		@include sm {
			min-width: 150px;
			max-width: 260px;
		}

		@include retina {
			min-width: 7.81vw;
			max-width: 13.54vw;
		}
	}

	&__group {

		@include md {
			flex-grow: 1;
		}

		&:not(.filters__group_visible) {

			@include md-less {
				visibility: hidden;
				opacity: 0;
				background-color: rgba(0, 0, 0, .8);
				position: fixed;
				top: 72px;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 20;
				transition: all $transition;
			}

			&.filters__group_active {

				@include md-less {
					visibility: visible;
					opacity: 1;
				}

				.filters__group-inner {
					
					@include md-less {
						transform: translateX(0);
					}
				}
			}

			.filters__group-inner {

				@include md-less {
					transform: translateX(100%);
					width: 100%;
					max-width: 500px;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background-image: radial-gradient(circle 568px at 48.55% 0%, #232733 0%, #1a1d25 100%);
					padding: 24px 14px;
					transition: all $transition;
				}
			}
		}

		&_visible {

			@include sm {
				flex-grow: 1;
			}

			.filters__items {

				@include sm {
					display: flex;
					justify-content: flex-end;
				}
			}

			.filters__item {

				@include sm {
					width: 100%;
					min-width: 150px;
					max-width: 260px;
				}

				@include retina {
					min-width: 7.81vw;
					max-width: 13.54vw;
				}
			}
		}
	}

	&__items {
		
		@include md {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__item {
		width: 100%;

		@include md {
			min-width: 150px;
			max-width: 260px;
		}

		@include retina {
			min-width: 7.81vw;
			max-width: 13.54vw;
		}

		&:not(:last-child) {
			
			@include md-less {
				margin-bottom: 24px;
			}

			@include md {
				margin-right: 9px;
			}

			@include retina {
				margin-right: 0.46vw;
			}
		}

		&:nth-child(1):nth-last-child(2),
		&:nth-child(2):nth-last-child(1) {
			
			@include md {
				width: calc(50% - 6px);
			}

			@include retina {
				width: calc(50% - 0.31vw);
			}
		}

		&:nth-child(1):nth-last-child(3),
		&:nth-child(2):nth-last-child(2),
		&:nth-child(3):nth-last-child(1) {
			
			@include md {
				width: calc(33.33% - 6px);
			}

			@include retina {
				width: calc(33.33% - 0.31vw);
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		@include md {
			display: none;
		}

		@include retina {
			margin-bottom: 1.3vw;
		}
	}

	&__title {
		font-size: 16px;
		color: $white;
		text-transform: uppercase;

		@include retina {
			font-size: 0.83vw;
		}
	}

	&__close {
		width: 30px;
		height: 30px;
		background-image: url($images + 'icons/x-2.svg');
		background-position: center;
		background-size: 15px auto;
		margin-left: auto;
		cursor: pointer;

		@include retina {
			width: 1.56vw;
			height: 1.56vw;
			background-size: 0.78vw auto;
		}

		&:hover {
			background-image: url($images + 'icons/x-2.2.svg');
		}
	}
}