.btn-2 {
  min-width: 140px;
  min-height: 36px;
  border: 0;
  outline: 0;
  border-radius: 18px;
  padding: 0 30px;
  background-color: $bg-color-2;
  text-align: center;
  font-size: 14px;
  color: $accent-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all $transition;
  cursor: pointer;

  @include retina {
    min-width: 7.29vw;
    min-height: 1.87vw;
    border-radius: 0.93vw;
    padding: 0 1.56vw;
    font-size: 0.72vw;
  }

  &_theme_2 {
    color: $gold;
  }
}