<div class="deal">
    <div class="deal__body">
        <div class="deal__avatar avatar avatar_size_4">
            <div class="avatar__wrapper">
                <img src="../../assets/pictures/avatar.png"
                     class="avatar__img"
                     alt="user-avatar"/>
            </div>
        </div>
        <div class="deal__product">
            <div class="deal__image-wrapper">
                <img class="deal__image"
                     src="../../assets/pictures/products/8.png"
                     alt="deal-image"/>
            </div>

        </div>
        <div class="deal__icon">

        </div>
    </div>
    <div class="deal__product-name">Apartments Lux Monaco</div>

    <div class="deal__slider ">
        <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
        </div>
    </div>
</div>


<div class="deal ">
    <div class="deal__body">
        <div class="deal__avatar avatar avatar_size_4">
            <div class="avatar__wrapper">
                <img src="../../assets/pictures/avatar.png"
                     class="avatar__img"
                     alt="user-avatar"/>
            </div>
        </div>
        <div class="deal__product">
            <div class="deal__image-wrapper">
                <img class="deal__image"
                     src="../../assets/pictures/products/9.png"
                     alt="deal-image"/>
            </div>

        </div>
        <div class="deal__icon">

        </div>
    </div>
    <div class="deal__product-name">Zenvo ST1 Car</div>

    <div class="deal__slider ">
        <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
        </div>
    </div>

</div>
<div class="deal deal_soldout">
    <div class="deal__body">
        <div class="deal__avatar avatar avatar_size_4">
            <div class="avatar__wrapper">
                <img src="../../assets/pictures/avatar.png"
                     class="avatar__img"
                     alt="user-avatar"/>
            </div>
        </div>
        <div class="deal__product">
            <div class="deal__image-wrapper">
                <img class="deal__image"
                     src="../../assets/pictures/products/7.png"
                     alt="deal-image"/>
            </div>

        </div>
        <div class="deal__icon">

        </div>
    </div>
    <div class="deal__product-name">Apartments Lux Monaco</div>

    <div class="deal__slider ">
        <div class="slider slider_shadowed">
            <div class="slider__filled" style="width: 50%;"></div>
        </div>
    </div>

</div>