.deal {
  background-image: url($images + 'modules/deal/deal-shape.svg');
  background-size: 100% auto;
  width: 252px;
  height: 151px;
  padding: 5px 18px 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 12px;

  @include retina {
    width: 13.12vw;
    height: 7.86vw;
    padding: 0.26vw 0.93vw 0.31vw;
    font-size: 0.62vw;
  }

  &__image-wrapper {
    width: 100%;
    height: 90px;
    padding: 0 40px;
    margin: auto;

    @include retina {
      height: 4.68vw;
      padding: 0 2.08vw;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__avatar,
  &__icon {
    position: absolute;
    top: 18px;

    @include retina {
      top: 0.93vw;
    }
  }

  &__avatar {
    left: 18px;

    @include retina {
      left: 0.93vw;
    }
  }

  &__icon {
    right: 18px;
    width: 18px;
    height: 18px;

    @include retina {
      right: 0.93vw;
      width: 0.93vw;
      height: 0.93vw;
    }

    &:before {
      content: "";
      background-image: url($images + 'icons/up-down3.svg');
      background-size: 99%;
      background-position: center;
      width: 18px;
      height: 18px;
      display: block;

      @include retina {
        width: 0.93vw;
        height: 0.93vw;
      }
    }
  }

  &__product-name {
    text-align: center;
    flex-shrink: 0;
    margin-top: 5px;
    margin-bottom: 25px;

    @include retina {
      margin-top: 0.26vw;
      margin-bottom: 1.3vw;
    }
  }

  &__slider {
    width: 96px;
    margin: 0 auto;

    @include retina {
      width: 5vw;
    }
  }

  &_buy {

    .deal__icon {
      
      &:before {
        background-image: url($images + 'icons/up-down.2.svg');
      }
    }
  }

  &_sale {

    .deal__icon {
      
      &:before {
        background-image: url($images + 'icons/up-down.svg');
      }
    }
  }
}