.operations {
  &__time {
    font-weight: 500;
    margin-left: 14px;

    @include retina {
      margin-left: 0.72vw;
    }
  }

  &__product {

    @include sm {
      display: flex;
      align-items: center;
    }
  }

  &__product-visual {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: inline-flex;
    vertical-align: middle;

    @include sm-less {
      display: block;
      width: 110px;
      height: 110px;
      margin: auto;
    }

    @include retina {
      width: 3.12vw;
      height: 3.12vw;
    }
  }

  &__product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__product-title {
    color: $white;
    line-height: 1.3;
  }

  &__price {
    @include sm {
      order: 1;
    }
  }

  &__product-sort {
    flex-shrink: 0;

    @include xs-only {
      margin-left: 0;
    }

    @include sm {
      margin-left: 14px;
      margin-right: 10px;
    }

    @include retina {
      margin-left: 0.72vw;
      margin-right: 0.52vw;
    }
  }
}