<div class="operations">
	<div class="operations__inner">
		<div class="operations__table table">
			<div class="table__inner">
				<div class="table__headings">
					<div class="table__headings-item">Дата / Время</div>
					<div class="table__headings-item operations__big-heading">Название предмета</div>
					<div class="table__headings-item table__column-small">Покупка / Продажа</div>
					<div class="table__headings-item table__column-small">Сумма</div>
				</div>
				<div class="table__rows">
					<div class="table__row">
						<div class="table__cell">
							<span class="operations__date">29.08.2020</span>
							<span class="operations__time">18:34:06</span>
						</div>
						<div class="table__cell operations__big-cell">
							<div class="operations__product">
								<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
							</div>
							<div class="operations__sort sort sort_2"></div>
							<span class="operations__product-title">Nike Air Max 95 Ultra</span>
						</div>
						<div class="table__cell operations__price table__column-small">
							<div class="dollars">7 900 800</div>
						</div>
						<div class="table__cell table__column-small">
							<div class="btn-2">
								Покупка
							</div>
						</div>
					</div>
					<div class="table__row">
						<div class="table__cell">
							<span class="operations__date">29.08.2020</span>
							<span class="operations__time">18:34:06</span>
						</div>
						<div class="table__cell operations__big-cell">
							<div class="operations__product">
								<img class="operations__product-image" src="../../assets/pictures/products/1.png" alt="table-thumbnail"/>
							</div>
							<div class="operations__sort sort sort_1"></div>
							<span class="operations__product-title">Mazda 911 Sport</span>
						</div>
						<div class="table__cell operations__price table__column-small">
							<div class="dollars">33 900 800</div>
						</div>
						<div class="table__cell table__column-small">
							<div class="btn-2 btn-2_theme_2">
								Продажа
							</div>
						</div>
					</div>
					<div class="table__row">
						<div class="table__cell">
							<span class="operations__date">29.08.2020</span>
							<span class="operations__time">18:34:06</span>
						</div>
						<div class="table__cell operations__big-cell">
							<div class="operations__product">
								<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
							</div>
							<div class="operations__sort sort sort_2"></div>
							<span class="operations__product-title">Nike Air Max 95 Ultra</span>
						</div>
						<div class="table__cell operations__price table__column-small">
							<div class="dollars">7 900 800</div>
						</div>
						<div class="table__cell table__column-small">
							<div class="btn-2">
								Покупка
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



