<hr>
<input type="text" class="input" placeholder="Поиск по названию…">
<hr>
<input type="text" class="input input_theme_2" placeholder="Поиск по названию…">
<hr>
<input type="text" class="input input_theme_2 input_bigger" placeholder="Поиск по названию…">
<hr>
<input type="text" class="input input_icon input_search" placeholder="Поиск по названию…">
<hr>
<input type="text" class="input input_icon input_search input_bigger" placeholder="Поиск по названию…">
<hr>