.input {
  display: block;
  width: 100%;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-radius: 14px;
  color: $white;
  background-color: $bg-color;
  padding: 0 15px;

  @include retina {
    height: 2.18vw;
    font-size: 0.72vw;
    border-radius: 0.72vw;
    padding: 0 0.78vw;
  }

  &::placeholder {
    color: $grey;
  }

  &_icon {
    background-position: 15px center;
    padding-left: 45px;

    @include retina {
      background-position: 0.78vw center;
      padding-left: 2.34vw;
    }
  }

  &_search {
    background-image: url($images + 'icons/search.svg');
    background-size: auto 33%;

    &:focus {
      background-image: url($images + 'icons/search.2.svg');
    }
  }

  &_theme_2 {
    border: 1px solid #20242d;
    border-radius: 1000px;
    background-color: #161920;

    @include retina {
      border-width: 0.05vw;
      border-radius: 100vw;
    }
  }

	&_theme_3 {
    border: 1px solid #20242d;
    border-radius: 1000px;
    background-color: #0f1117;

    @include retina {
      border-width: 0.05vw;
      border-radius: 100vw;
    }
  }

  &_bigger {
    height: 54px;
    font-size: 16px;
    padding: 0 25px;

    @include retina {
      height: 2.7vw;
      font-size: 0.83vw;
      padding: 0 1.3vw;
    }

    &.input_icon {
      padding-left: 50px;

      @include retina {
        padding-left: 2.6vw;
      }
    }
  }
}
