* {
	box-sizing: border-box;
}

*,
:before,
:after {
	background-repeat: no-repeat;
}

html,
body {
	height: 100%;
}

body {
	font-family: $font-family;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	color: $grey;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;

	@include retina {
		font-size: 0.78vw;
	}
}

a {
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}

input,
textarea {

	&,
	&::placeholder {
		font-weight: inherit;
		color: inherit;
	}
}

textarea {
	font-family: inherit;
	font-size: inherit;
}

address {
	font-style: normal;
}

fieldset {
	border: 0;
}

sub,
sup {
	font-size: 0.7em;
}



// scrollbar

::-webkit-scrollbar {
	display: none;
	width: 3px;
	height: 3px;

	@include retina {
		width: 0.15vw;
	}
}

::-webkit-scrollbar-track {
	background-color: #2b303d;
	border-radius: 2px;

	@include retina {
		border-radius: 0.1vw;
	}
}

::-webkit-scrollbar-thumb {
	background-color: #4e5872;
	border-radius: 2px;

	@include retina {
		border-radius: 0.1vw;
	}
}