/* Muller Medium */

@font-face {
	font-family: Muller;
	src: url('../fonts/Muller/MullerMedium.woff2') format('woff2'),
	    url('../fonts/Muller/MullerMedium.woff') format('woff'),
	    url('../fonts/Muller/MullerMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* Muller Bold */

@font-face {
	font-family: Muller;
	src: url('../fonts/Muller/MullerBold.woff2') format('woff2'),
	    url('../fonts/Muller/MullerBold.woff') format('woff'),
	    url('../fonts/Muller/MullerBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* Muller Extra Bold */

@font-face {
	font-family: Muller;
	src: url('../fonts/Muller/MullerExtraBold.woff2') format('woff2'),
	    url('../fonts/Muller/MullerExtraBold.woff') format('woff'),
	    url('../fonts/Muller/MullerExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

/* a_LCDNovaObl */

@font-face {
	font-family: a_LCDNovaObl;
	src: url('../fonts/a_LCDNovaObl/a_LCDNovaObl.woff2') format('woff2'),
	    url('../fonts/a_LCDNovaObl/a_LCDNovaObl.woff') format('woff'),
	    url('../fonts/a_LCDNovaObl/a_LCDNovaObl.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
