// colors
$white: #fff;
$grey: #757F9D;
$green: #7ed321;
$yellow: #f8e71c;
$gold: #f5a623;
$accent-color: #50E3C2;

$bg-color: #161920;
$bg-color-2: #212530;



// paths
$images: '../images/';



// typography
$font-family: Muller, sans-serif;
$font-family-2: Montserrat, sans-serif;



// transitions
$transition: .2s ease-out;