<div class="bidders">

  <div class="bidders__items">
    <div class="bidders__item">
      <div class="bidders__pic-wrapper">
        <img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
      </div>
    </div>
    <div class="bidders__item">
      <div class="bidders__pic-wrapper">
        <img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
      </div>
    </div>
    <div class="bidders__item">
      <div class="bidders__pic-wrapper">
        <img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
      </div>
    </div>
  </div>

  <div class="bidders__count">24</div>

</div>