.bidders {
  display: flex;
  align-items: center;

  &__items {
    display: flex;
    margin-right: 7px;

    @include retina {
      margin-right: 0.36vw;
    }
  }

  &__item {
    position: relative;
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: -24px;

      @include xl {
        margin-left: -20px;
      }

      @include retina {
        margin-left: -1.04vw;
      }
    }

    &:nth-child(1) {
      z-index: 10;
    }
    &:nth-child(2) {
      z-index: 9;
    }
    &:nth-child(3) {
      z-index: 8;
    }
    &:nth-child(4) {
      z-index: 7;
    }
    &:nth-child(5) {
      z-index: 6;
    }
    &:nth-child(6) {
      z-index: 5;
    }
    &:nth-child(7) {
      z-index: 4;
    }
    &:nth-child(8) {
      z-index: 3;
    }
    &:nth-child(9) {
      z-index: 2;
    }
    &:nth-child(10) {
      z-index: 1;
    }
  }

  &__pic-wrapper {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid #252a36;
    overflow: hidden;

    @include xl {
      width: 48px;
      height: 48px;
    }

    @include retina {
      width: 2.5vw;
      height: 2.5vw;
    }
  }

  &__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__count {
    display: flex;
    align-items: center;
    font-family: $font-family-2;
    font-size: 16px;
    padding-top: 3px;

    @include retina {
      font-size: 0.83vw;
      padding-top: 0.15vw;
    }

    &:before {
      content: '';
      position: relative;
      top: -3px;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      background-size: contain;
      background-position: center;
      background-image: url($images + 'icons/auction.svg');

      @include retina {
        top: -0.15vw;
        margin-right: 0.26vw;
        width: 0.83vw;
        height: 0.83vw;
      }
    }
  }
}