<div class="slider">
    <div class="slider__filled" style="width: 50%;"></div>
</div>

<div style="margin-top: 20px">

    <div class="slider slider_shadowed">
        <div class="slider__filled" style="width: 50%;"></div>
    </div>

</div>

