.slider {
  height: 5px;
  border-radius: 3px;
  background-color: #2c3240;
  position: relative;

  @include retina {
    height: 0.26vw;
    border-radius: 0.15vw;
  }

  &__filled {
    height: 100%;
    border-radius: 3px;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border: 1px solid $accent-color;
    background-image: linear-gradient(270deg, #50e3c2 0%, #0c7d63 100%);

    @include retina {
      border-width: 0.05vw;
      border-radius: 0.15vw;
    }

    &:after {
      position: absolute;
      width: 2px;
      height: 13px;
      border-radius: 1px;
      background-color: #d8d8d8;
      content: '';
      right: -1px;
      top: 0;
      bottom: 0;
      margin: auto;

      @include retina {
        width: 0.1vw;
        height: 0.67vw;
        border-radius: 0.05vw;
        right: -0.05vw;
      }
    }
  }

  &_shadowed {
    height: 2px;
    border-radius: 1px;

    @include retina {
      height: 0.1vw;
      border-radius: 0.05vw;
    }

    .slider__filled {
      box-shadow: 0 0 10px 1px rgba(80, 227, 194, 0.5);
      border-radius: 1px;
      background: $accent-color;

      @include retina {
        box-shadow: 0 0 0.52vw 0.05vw rgba(80, 227, 194, 0.5);
        border-radius: 0.05vw;
      }

      &:after {
        display: none;
      }
    }
  }
}
