.banner-1 {
	height: 180px;
	border-radius: 45px;
	background-image: url($images + 'modules/banner-1/banner1-bg.png');
	background-size: cover;
	background-position: left center;
	display: flex;
	position: relative;
	padding: 18px 0 18px 18px;
	border: 1px solid rgba(80, 227, 194, 0.1);

	@include retina {
		height: 9.37vw;
		border-radius: 2.34vw;
		padding: 0.93vw 0 0.93vw 0.93vw;
	}

	&:hover {

		.banner-1__content-active {
			opacity: 0;
		}

		.banner-1__content-inactive {
			opacity: 1;
		}
	}

	&__product-wrapper {
		width: 200px;
		height: 100%;
		position: relative;
		left: -12px;
		top: 5px;

		@include retina {
			width: 10.41vw;
			height: 100%;
		}
	}

	&__product-pic {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__content-inactive,
	&__content-active {
		transition: all $transition;
	}

	&__content {
		align-self: flex-end;
		flex-grow: 1;
		padding: 0 18px;

		@include retina {
			padding: 0 0.93vw;
		}
	}

	&__auction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__auction-title {
		font-size: 14px;
		color: $white;
		letter-spacing: 0.05em;
		text-transform: uppercase;

		@include xxl {
			font-size: 16px;
		}

		@include retina {
			font-size: 0.83vw;
		}
	}

	&__auction-date {
		font-family: a_LCDNovaObl;
		text-shadow: 0 0 24px $accent-color;
		color: $accent-color;
		font-size: 42px;
		letter-spacing: 0.12em;
		margin-top: 4px;

		@include retina {
			text-shadow: 0 0 1.25vw $accent-color;
			font-size: 2.18vw;
			margin-top: 0.2vw;
		}
	}

	&__winner-block {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 8px;
		margin-left: auto;

		@include retina {
			margin-top: 0.41vw;
		}
	}

	&__winner-details {
		text-align: right;
	}

	&__winner-avatar {
		margin-left: 10px;

		@include retina {
			margin-left: 0.52vw;
		}
	}

	&__winner {
		color: rgba(80, 227, 194, 0.5);
		font-size: 10px;
		margin-bottom: 3px;

		@include retina {
			font-size: 0.52vw;
			margin-bottom: 0.15vw;
		}
	}

	&__winner-name {
		color: $white;
		font-size: 14px;

		@include retina {
			font-size: 0.72vw;
		}
	}

	&__inactive {
		font-size: 12px;
		color: $white;
		letter-spacing: 0.04375em;
		text-transform: uppercase;
		margin-bottom: 10px;

		@include xxl {
			font-size: 16px;
		}

		@include retina {
			font-size: 0.83vw;
			margin-bottom: 0.52vw;
		}
	}

	&__content-inactive {
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: calc(100% - 210px);
		padding: 0 18px;
		right: 0;
		opacity: 0;

		@include xxl {
			left: 210px;
		}

		@include retina {
			width: calc(100% - 10.93vw);
			padding: 0 0.93vw;
			left: 10.93vw;
		}
	}
}
