<div class="table" style="margin-bottom: 30px;">
    <div class="table__inner">
        <div class="table__headings">
            <div class="table__headings-item">Дата / Время</div>
            <div class="table__headings-item">Название предмета</div>
            <div class="table__headings-item">Покупка / Продажа</div>
            <div class="table__headings-item">Сумма</div>
        </div>
        <div class="table__rows">
            <div class="table__row">
                <div class="table__cell">
                    <span class="table__date">29.08.2020</span>
                    <span class="table__time">18:34:06</span>
                </div>
                <div class="table__cell">
                    <div class="table__product">
                        <img class="table__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
                    </div>
                    <div class="table__sort sort sort_1"></div>
                    <span class="table__product-title">Nike Air Max 95 Ultra</span>
                </div>
                <div class="table__cell">
                    <div class="dollars">7 900 800</div>
                </div>
                <div class="table__cell">
                    12345
                </div>
            </div>


        </div>
    </div>
</div>

<div class="table">
	<div class="table__inner">
			<div class="table__headings">
				<div class="table__headings-item">Дата / Время</div>
				<div class="table__headings-item">Название предмета</div>
				<div class="table__headings-item">Покупка / Продажа</div>
				<div class="table__headings-item">Сумма</div>
			</div>
			<div class="table__rows">
				<div class="table__row">
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias archi?
					</div>
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						12345
					</div>
					<div class="table__cell">
						123451234
					</div>
				</div>

			</div>
	</div>
</div>
