.table {
	font-size: 14px;
	overflow: auto;
	
	@include sm {
		padding-bottom: 5px;
	}

	@include retina {
		font-size: 0.72vw;
		padding-bottom: 0.26vw;
	}

	&::-webkit-scrollbar {
		display: block;
	}

	&__inner {
		display: table;
		width: 100%;
	}

	&__headings,
	&__row {
		
		@include sm {
			padding-left: 20px;
			padding-right: 20px;
		}
		
		@include md {
			padding-left: 30px;
		}
		
		@include xxl {
			padding-left: 52px;
		}

		@include retina {
			padding-left: 2.7vw;
			padding-right: 1.04vw;
		}
	}

	&__headings {
		display: flex;
		margin-bottom: 24px;
		font-weight: 500;

		@include xs-only {
			display: none;
		}

		@include retina {
			margin-bottom: 1.25vw;
		}
	}

	&__rows {

		@include xs-only {
			margin: auto;
		}
	}

	&__row {
		border: 1px solid #20242d;
		background-color: $bg-color;
		display: flex;
		border-radius: 20px;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;

		@include xs-only {
			border-radius: 42px;
			padding: 24px;
			align-items: center;
			flex-direction: column;
			text-align: center;
		}

		@include retina {
			border-radius: 1.04vw;
			border-width: 0.05vw;
			padding-top: 0.26vw;
			padding-bottom: 0.26vw;
		}

		&:not(:last-child) {

			@include xs-only {
				margin-bottom: 14px;
			}

			@include sm {
				margin-bottom: 10px;
			}

			@include retina {
				margin-bottom: 0.52vw;
			}
		}
	}

	&__cell {

		&:not(:last-child) {

			@include xs-only {
				margin-bottom: 18px;
			}
		}
	}

	&__headings-item,
	&__cell {

		@include xs-only {
			width: 240px;
		}

		@include sm {
			width: 200px;
		}
		
		@include xxl {
			width: 270px;
		}

		@include retina {
			width: 14.06vw;
		}

		&:not(:first-child) {

			@include sm {
				padding-left: 20px;
			}

			@include retina {
				padding-left: 1.04vw;
			}
		}

		&.table__column-small {

			@include md {
				width: 180px;
				margin-left: auto;
			}

			@include retina {
				width: 9.37vw;
			}
		}

		&.table__column-large {
			
			@include sm {
				width: 300px;
			}
			
			@include xxl {
				width: 350px;
			}

			@include retina {
				width: 18.22vw;
			}
		}
	}
}