.notification {
	display: flex;
	align-items: center;

	&__icon,
	&__more {
		flex-shrink: 0;
	}

	&__icon {
		margin-right: 14px;

		@include retina {
			margin-right: 0.72vw;
		}

		&.box {
			background-color: rgba(117, 127, 157, 0.2);
		}
	}

	&__content {
		flex-grow: 1;
		max-width: calc(100% - 100px);
		margin-right: auto;

		@include retina {
			max-width: calc(100% - 5.2vw);
		}
	}

	&__title,
	&__desc {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__title {
		font-size: 14px;
		color: $white;
		margin-bottom: 5px;

		@include retina {
			font-size: 0.72vw;
			margin-bottom: 0.26vw;
		}
	}

	&__desc {
		font-size: 11px;

		@include xl {
			font-size: 12px;
		}

		@include retina {
			font-size: 0.62vw;
		}
	}

	&__price {
		font-family: $font-family-2;
		color: $green;
		margin-left: 2px;

		@include retina {
			margin-left: 0.1vw;
		}
	}

	&__more {
		margin-left: 14px;

		@include retina {
			margin-left: 0.72vw;
		}
	}

	&_theme_2 {
		padding: 13px 14px;
		cursor: pointer;
		transition: all $transition;

		@include retina {
			padding: 0.67vw 0.72vw;
		}

		&:hover {
			background-color: #262a36;
		}

		.notification__content {
			max-width: calc(100% - 50px);
			margin-right: 0;

			@include retina {
				max-width: calc(100% - 2.6vw);
			}
		}
	}
}