<div class="notification">
  <div class="notification__content">
    <div class="notification__title">Предмет продан</div>
    <div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
  </div>
  <a href="" class="notification__more box box_size_3"></a>
</div>