.cabinet-page {

	&__top {
		margin-bottom: 60px;

		@include md {
			display: flex;
			max-height: 425px;
		}

		@include lg {
			max-height: 256px;
		}

		@include retina {
			max-height: 13.33vw;
			margin-bottom: 3.12vw;
		}
	}

	.welcome,
	.notifications {
		
		@include md {
			width: calc(50% - 12px);
		}

		@include xxl {
			width: calc(50% - 26px);
		}

		@include retina {
			width: calc(50% - 1.35vw);
		}
	}

	.welcome {

		@include md-less {
			margin-bottom: 24px;
		}

		@include md {
			margin-right: 24px;
		}

		@include xxl {
			margin-right: 52px;
		}

		@include retina {
			margin-right: 2.7vw;
		}
	}

	.notifications {

		@include md-less {
			max-height: 255px;
		}
	}

	.operations-history {
		margin-bottom: 60px;

		@include retina {
			margin-bottom: 3.12vw;
		}
	}
}