.lang {
	display: inline-block;
	border-radius: 1000px;
	border: 1px solid #191d27;
	background-color: $bg-color;
	padding: 10px;

	@include retina {
		padding: 0.52vw;
	}

	&__items {
		display: flex;
	}

	&__item {
		width: 28px;
		opacity: .5;
		transition: all $transition;

		@include retina {
			width: 1.45vw;
		}

		&:not(:last-child) {
			margin-right: 10px;

			@include retina {
				margin-right: 0.52vw;
			}
		}

		&_active,
		&:hover {
			opacity: 1;
		}
	}

	&__icon {
		display: block;
		width: 100%;
	}
}