<div class="lang">
	<div class="lang__items">
		<a href="" class="lang__item">
			<img src="../assets/images/modules/lang/en.svg" alt="" class="lang__icon">
		</a>
		<a href="" class="lang__item">
			<img src="../assets/images/modules/lang/ru.svg" alt="" class="lang__icon">
		</a>
	</div>
</div>