.main-content {

  @include xl {
    display: flex;
    padding-right: 350px;
  }

  @include xxl {
    padding-left: 300px;
  }

  @include retina {
    padding-right: 18.22vw;
    padding-left: 15.62vw;
  }
}