.features-2 {

  &__heading {
    margin-bottom: 25px;

    @include retina {
      margin-bottom: 1.3vw;
    }
  }

  &__items {
    
    @include lg {
      display: flex;
      flex-wrap: wrap;
      margin: -12px;

      @include retina {
        margin: -0.62vw;
      }
    }
  }

  &__item {

    @include lg {
      width: calc(50% - 24px);
      margin: 12px;

      @include retina {
        width: calc(50% - 1.25vw);
        margin: 0.62vw;
      }
    }

    &:not(:last-child) {
      
      @include lg-less {
        margin-bottom: 24px;

        @include retina {
          margin-bottom: 1.25vw;
        }
      }
    }
  }
}