<div class="features-2">
  <div class="features-2__heading heading heading_sm">Характеристики</div>
  <div class="features-2__items">
    <div class="features-2__item feature-2 feature-2_1">
      <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
      <div class="feature-2__value">2 500</div>
    </div>
    
    <div class="features-2__item feature-2 feature-2_2">
      <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
      <div class="feature-2__value">2 500</div>
    </div>
    
    <div class="features-2__item feature-2 feature-2_3">
      <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
      <div class="feature-2__value">2 500</div>
    </div>
    
    <div class="features-2__item feature-2 feature-2_4">
      <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
      <div class="feature-2__value">2 500</div>
    </div>
  </div>
</div>