.nav {

  @include xl {
    padding-top: 50px;
  }
  
  @include retina {
    padding-top: 2.6vw;
  }

  &__list {

    @include xl {
      display: flex;
    }
  }

  &__item {

    &:not(:last-child) {
      
      @include xl-less {
        margin-bottom: 30px;
      }

      @include xl {
        margin-right: 40px;
      }

      @include xxl {
        margin-right: 40px;
      }

      @include retina {
        margin-right: 2.08vw;
      }
    }
  }

  &__link {
    position: relative;
    color: $grey;
    font-size: 18px;
    line-height: 1.25;
    text-decoration: none;
    text-transform: uppercase;
    transition: all $transition;

    @include xl {
      font-size: 14px;
    }
    
    @include retina {
      font-size: 0.72vw;
    }

    &:before {
      
      @include xl {
        content: '';
        height: 4px;
        box-shadow: 0 1px 10px $accent-color;
        border-radius: 3px;
        background-color: $accent-color;
        position: absolute;
        left: 50%;
        right: 50%;
        top: -50px;
        transition: inherit;
      }

      @include retina {
        height: 0.2vw;
        box-shadow: 0 0.05vw 0.52vw $accent-color;
        border-radius: 0.15vw;
        top: -2.6vw;
      }
    }

    &:after {
      
      @include xl {
        content: '';
        width: 24px;
        height: 24px;
        background-color: $accent-color;
        border-radius: 50%;
        position: absolute;
        top: -68px;
        left: 50%;
        transform: translateX(-50%);
        filter: blur(30px);
        opacity: 0;
        visibility: hidden;
        transition: inherit;
      }

      @include retina {
        width: 1.25vw;
        height: 1.25vw;
        top: -3.54vw;
        filter: blur(1.56vw);
      }
    }

    &:hover {
      color: $white;
    }

    &_active {
      color: $white;

      &:before {
        
        @include xl {
          left: -4px;
          right: -4px;
        }

        @include xxl {
          left: -7px;
          right: -7px;
        }

        @include retina {
          left: -0.36vw;
          right: -0.36vw;
        }
      }

      &:after {

        @include xl {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__link-alert {
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $accent-color;
    transition: inherit;

    @include retina {
      right: -0.52vw;
      width: 0.26vw;
      height: 0.26vw;
    }
  }
}