<!doctype html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title>buy</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" href="../assets/css/app.css">

</head>

<body>

	<div class="page-wrapper">

		<div class="left-sidebar">
			<div class="left-sidebar__box">

				<div class="left-sidebar__top">
					<div class="left-sidebar__heading heading heading_sm">LIVE ЛЕНТА</div>
					<div class="left-sidebar__volume box box_size_4 box_volume box_hover"></div>
				</div>

				<div class="left-sidebar__deals deals">

					<div class="deal deals__item deal_buy">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_sale">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_buy">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_buy">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_sale">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/9.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_sale">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/7.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_buy">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_sale">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_buy">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

					<div class="deal deals__item deal_sale">
						<div class="deal__avatar avatar avatar_size_4">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
							</div>
						</div>
						<div class="deal__icon"></div>
						<div class="deal__image-wrapper">
							<img class="deal__image" src="../../assets/pictures/products/8.png" alt="deal-image" />
						</div>
						<div class="deal__product-name">Apartments Lux Monaco</div>
						<div class="deal__slider">
							<div class="slider slider_shadowed">
								<div class="slider__filled" style="width: 50%;"></div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="content">
			<header class="header header_guest">

				<div class="header__nav-btn nav-btn"></div>
				<div class="header__not-btn header__not-btn_updated"></div>
				<div class="header__deals-btn box box_size_1 box_deals box_hover"></div>
				<div class="header__top-btn box box_size_1 box_crown box_hover"></div>

				<div class="header__menu-outer">
					<div class="header__menu">

						<div class="header__group">

							<a href="" class="header__login-btn btn btn_login btn_bigger">Войти</a>

							<div class="header__lang header__lang_2 lang">
								<div class="lang__items">
									<a href="" class="lang__item lang__item_active">
										<img src="../assets/images/modules/lang/en.svg" alt="" class="lang__icon">
									</a>
									<a href="" class="lang__item">
										<img src="../assets/images/modules/lang/ru.svg" alt="" class="lang__icon">
									</a>
								</div>
							</div>

						</div>

						<nav class="header__nav nav">
							<ul class="nav__list">
								<li class="nav__item">
									<a href="" class="nav__link">Купить</a>
								</li>
								<li class="nav__item">
									<a href="" class="nav__link">Продать</a>
								</li>
								<li class="nav__item">
									<a href="" class="nav__link">Избранное <div class="nav__link-alert"></div></a>
								</li>
								<li class="nav__item">
									<a href="" class="nav__link nav__link_active">Faq</a>
								</li>
							</ul>
						</nav>

						<div class="header__lang header__lang_1 lang">
							<div class="lang__items">
								<a href="" class="lang__item lang__item_active">
									<img src="../assets/images/modules/lang/en.svg" alt="" class="lang__icon">
								</a>
								<a href="" class="lang__item">
									<img src="../assets/images/modules/lang/ru.svg" alt="" class="lang__icon">
								</a>
							</div>
						</div>

						<a href="" class="header__logo logo">
							<img src="../assets/images/modules/logo/logo.svg" alt="" class="logo__img">
						</a>

					</div>
				</div>

				<div class="header__nots-outer">
					<div class="header__nots">
						<div class="header__nots-top">
							<div class="header__nots-heading">Уведомления</div>
							<div class="header__nots-close"></div>
						</div>
						<div class="header__nots-box">
							<div class="header__nots-items">
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
								<div class="header__nots-item notification notification_theme_2">
									<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
									<div class="notification__content">
										<div class="notification__title">Предмет продан</div>
										<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$
												4
												590</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</header>
			<div class="main-content">
				<main class="page page_buy">

					<div class="buy-page">

						<%- locals.widget('banners/banners.ejs') %>



						<div class="filters">

							<div class="filters__btn filters-btn">Фильтры и сортировка</div>

							<input type="text" class="filters__search input input_icon input_search"
								placeholder="Поиск по названию...">

							<div class="filters__group">
								<div class="filters__group-inner">

									<div class="filters__header">
										<div class="filters__title">Фильтры</div>
										<div class="filters__close"></div>
									</div>

									<div class="filters__items">

										<div class="filters__item select select_icon select_type">
											<div class="select__btn">
												<div class="select__btn-text">Все товары</div>
											</div>
											<div class="select__list">
												<div class="select__item">
													<div class="select__item-text">Транспорт</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Одежда</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Бизнесы</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Аксессуары</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Транспорт</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Одежда</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Бизнесы</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Аксессуары</div>
												</div>
											</div>
										</div>

										<div class="filters__item select select_icon select_icon-sort">
										    <div class="select__btn">
										        <div class="select__sort-icon sort sort_2"></div>
										        <div class="select__btn-text">Не выбрано</div>
										    </div>
										    <div class="select__list">
										        <div class="select__item">
										            <div class="select__item-text">Транспорт</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Одежда</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Бизнесы</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Аксуссуары</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Мобильные телефоны</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Оружие</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Винилы</div>
										        </div>
										        <div class="select__item">
										            <div class="select__item-text">Наклейки</div>
										        </div>
										    </div>
										</div>

										<div class="filters__item select select_icon select_sort">
											<div class="select__btn">
												<div class="select__btn-text">По цене</div>
											</div>
											<div class="select__list">
												<div class="select__item">
													<div class="select__item-text">Транспорт</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Одежда</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Бизнесы</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Аксессуары</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Бизнесы</div>
												</div>
												<div class="select__item">
													<div class="select__item-text">Аксессуары</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>

						</div>



						<div class="products">

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_1"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_3"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_4"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_5"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

							<div class="products__item product product_buy">
								<div class="product__inner">
									<div class="product__content">
										<time class="product__date">22:08:56</time>
										<span class="product__sort sort sort_2"></span>
										<div class="product__image-wrapper">
											<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image" />
										</div>
										<div class="product__title">Mazda 911 Sport</div>
										<div class="dollars">7 900 800</div>

										<div class="product__bid">24</div>
									</div>
								</div>
							</div>

						</div>



						<div class="pagination">
							<a href="" class="pagination__prev box box_size_1 box_prev box_hover box_glow"></a>
							<div class="pagination__items">
								<a href="" class="pagination__item">3</a>
								<a href="" class="pagination__item">4</a>
								<a href="" class="pagination__item pagination__item_active">5</a>
								<a href="" class="pagination__item">6</a>
								<a href="" class="pagination__item">7</a>
							</div>
							<a href="" class="pagination__next box box_size_1 box_next box_hover box_glow"></a>
						</div>

					</div>
				</main>
				<div class="right-sidebar">
					<div class="right-sidebar__box">

						<div class="right-sidebar__top">
							<div class="right-sidebar__heading heading heading_sm">КОРОЛИ МАРКЕТА</div>
							<div class="right-sidebar__filter filter">
								<div class="filter__btn box box_size_4 box_cubes box_hover"></div>
								<div class="filter__box">
									<div class="filter__items">
										<div class="filter__item">Заработано</div>
										<div class="filter__item filter__item_active">Потрачено</div>
										<div class="filter__item">Куплено</div>
									</div>
								</div>
							</div>
						</div>

						<div class="right-sidebar__players players">
							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 box_crown_gold avatar__position"></div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 box_crown_silver avatar__position"></div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 box_crown_bronze avatar__position"></div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player player_focus">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">67</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">4</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">5</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">6</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">7</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">8</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">9</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

							<div class="players__item player">
								<div class="player__avatar avatar avatar_size_3">
									<div class="avatar__wrapper">
										<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
									</div>
									<div class="box box_size_7 avatar__position">10</div>
								</div>
								<div class="player__info">
									<div class="player__info-item">
										<div class="player__name">Ashley Graham</div>
										<div class="player__rating rating player__rating">
											<span class="rating__level">5</span>
										</div>
									</div>
									<div class="player__info-item">
										<div class="player__earn">Всего заработано:</div>
										<div class="player__dollars dollars">987KK</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

	<script>
		$(function () {
			// nav
			$('.header__nav-btn').on('click', function () {
				$(this).toggleClass('nav-btn_active');
				$('.header__menu-outer').toggleClass('header__menu-outer_active');
			});

			// left sidebar
			$('.header__deals-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.left-sidebar').toggleClass('left-sidebar_active');
			});

			$('.left-sidebar__volume').on('click', function () {
				$(this).toggleClass('left-sidebar__volume_off');
			});

			// right sidebar
			$('.header__top-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.right-sidebar').toggleClass('right-sidebar_active');
			});

			// filters
			$('.filters-btn').on('click', function () {
				$(this).parent().find('.filters__group').addClass('filters__group_active');
			});

			$('.filters__close').on('click', function () {
				$('.filters__group').removeClass('filters__group_active');
			});

			// modal
			$('.modal__features-btn').on('click', function () {
				$(this).parent().find('.modal__features').addClass('modal__features_active');
			});

			$('.modal__features-close').on('click', function () {
				$('.modal__features').removeClass('modal__features_active');
			});

			$('.modal__price-edit').on('click', function () {
				if ( $(this).hasClass('modal__price-edit_active') ) {
					$(this).parent().find('.modal__price-input').attr('readonly', true);
				}
				else {
					$(this).parent().find('.modal__price-input').attr('readonly', false).focus();
				}

				$(this).toggleClass('modal__price-edit_active');
			});

			$('.modal__back, .modal__close').on('click', function () {
				$('.modal').removeClass('modal_active');
			});

			$('.modal__tooltip').on('click', function () {
				$(this).toggleClass('modal__tooltip_active');
			});

			// select
			$('.select__btn').on('click', function () {
				$(this).parent().toggleClass('select_active');
			});

			// accordion
			$('.accordion__header').on('click', function () {
				$(this).parent().toggleClass('accordion__item_opened');
			});

			// header nots
			$('.header__not-btn, .profile__avatar').on('click', function () {
				$('.header__nots-outer').toggleClass('header__nots-outer_active');
			});
			$('.header__nots-close').on('click', function () {
				$('.header__nots-outer').removeClass('header__nots-outer_active');
			});

			// filter
			$('.filter__btn').on('click', function () {
				$(this).toggleClass('box_active');
				$(this).parent().toggleClass('filter_active');
			});
		});
	</script>

</body>

</html>
