<% locals.setLayout('main.ejs') -%>
<% locals.block('title', 'buy') -%>
<% locals.block('page', 'buy') -%>

<div class="buy-page">

	<%- locals.widget('banners/banners.ejs') %>



	<div class="filters">

		<div class="filters__btn filters-btn">Фильтры и сортировка</div>

		<input type="text" class="filters__search input input_icon input_search" placeholder="Поиск по названию...">

		<div class="filters__group">
			<div class="filters__group-inner">

				<div class="filters__header">
					<div class="filters__title">Фильтры</div>
					<div class="filters__close"></div>
				</div>

				<div class="filters__items">

					<div class="filters__item select select_icon select_type">
						<div class="select__btn">
							<div class="select__btn-text">Все товары</div>
						</div>
						<div class="select__list">
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
						</div>
					</div>

					<div class="filters__item select select_icon select_icon-sort">
					    <div class="select__btn">
					        <div class="select__sort-icon sort sort_3"></div>
					        <div class="select__btn-text">Не выбрано</div>
					    </div>
					    <div class="select__list">
					        <div class="select__item">
					            <div class="select__item-text">Транспорт</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Одежда</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Бизнесы</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Аксуссуары</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Мобильные телефоны</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Оружие</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Винилы</div>
					        </div>
					        <div class="select__item">
					            <div class="select__item-text">Наклейки</div>
					        </div>
					    </div>
					</div>

					<div class="filters__item select select_icon select_sort">
						<div class="select__btn">
							<div class="select__btn-text">По цене</div>
						</div>
						<div class="select__list">
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>



	<div class="products">

		<div class="products__item product product_buy">
			<div class="product__inner">
					<div class="product__content">
							<time class="product__date">22:08:56</time>
							<div class="product__image-wrapper">
									<img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
							</div>
							<div class="product__title">Mazda 911 Sport</div>
							<div class="dollars">7 900 800</div>
							<div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
							<div class="product__bid">24</div>
							<div class="product__star"></div>
					</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_3"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_4"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_5"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_buy">
			<div class="product__inner">
				<div class="product__content">
					<time class="product__date">22:08:56</time>
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
					</div>
					<div class="product__title">Mazda 911 Sport</div>
					<div class="dollars">7 900 800</div>

					<div class="product__bid">24</div>
				</div>
			</div>
		</div>

	</div>



	<div class="pagination">
		<a href="" class="pagination__prev box box_size_1 box_prev box_hover box_glow"></a>
		<div class="pagination__items">
			<a href="" class="pagination__item">3</a>
			<a href="" class="pagination__item">4</a>
			<a href="" class="pagination__item pagination__item_active">5</a>
			<a href="" class="pagination__item">6</a>
			<a href="" class="pagination__item">7</a>
		</div>
		<a href="" class="pagination__next box box_size_1 box_next box_hover box_glow"></a>
	</div>

</div>
