<% locals.setLayout('main.ejs') -%>
<% locals.block('title', 'cabinet') -%>
<% locals.block('page', 'cabinet') -%>

<div class="cabinet-page">

	<div class="cabinet-page__top">

		<div class="welcome">
			<div class="welcome__user">
				<div class="welcome__avatar avatar avatar_size_1">
					<div class="avatar__wrapper">
						<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar"/>
					</div>
				</div>
				<div class="welcome__content">
					<div class="welcome__greeting">Привет, Aleks!</div>
					<div class="welcome__text">Проверь свою статистику на маркете.</div>
				</div>
			</div>
			<div class="welcome__details">
				<div class="welcome__details-item welcome__details-item_sales">
					<div class="welcome__details-info">
						<div class="welcome__details-option">ПРОДАЖИ</div>
						<div class="welcome__details-value">2 970</div>
					</div>
				</div>
				<div class="welcome__details-item welcome__details-item_price">
					<div class="welcome__details-info">
						<div class="welcome__details-option">ПРОДАЖИ НА СУММУ</div>
						<div class="welcome__details-value">68 900 483</div>
					</div>
				</div>
			</div>
			<div class="welcome__filter filter">
				<div class="filter__btn box box_size_4 box_cubes box_hover"></div>
				<div class="filter__box">
					<div class="filter__items">
						<div class="filter__item">Ваши продажи</div>
						<div class="filter__item filter__item_active">Ваши покупки</div>
					</div>
				</div>
			</div>
		</div>

		<div class="notifications">
			<div class="notifications__items">
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
				<div class="notifications__item notification">
					<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
					<div class="notification__content">
						<div class="notification__title">Предмет продан</div>
						<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
					</div>
					<a href="" class="notification__more box box_size_3 box_next box_hover box_glow"></a>
				</div>
			</div>
		</div>

	</div>



	<div class="operations-history">
		
		<div class="filters">

			<div class="filters__name">История операций</div>
		
			<div class="filters__group filters__group_visible">
				<div class="filters__group-inner">

					<div class="filters__items">

						<div class="filters__item select select_icon select_sort">
							<div class="select__btn">
								<div class="select__btn-text">По дате</div>
							</div>
							<div class="select__list">
								<div class="select__item">
									<div class="select__item-text">Транспорт</div>
								</div>
								<div class="select__item">
									<div class="select__item-text">Одежда</div>
								</div>
								<div class="select__item">
									<div class="select__item-text">Бизнесы</div>
								</div>
								<div class="select__item">
									<div class="select__item-text">Аксессуары</div>
								</div>
								<div class="select__item">
									<div class="select__item-text">Бизнесы</div>
								</div>
								<div class="select__item">
									<div class="select__item-text">Аксессуары</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		
		</div>
	
		<div class="operations">
			<div class="operations__inner">
				<div class="operations__table table">
					<div class="table__inner">
						<div class="table__headings">
							<div class="table__headings-item">Дата / Время</div>
							<div class="table__headings-item table__column-large">Название предмета</div>
							<div class="table__headings-item table__column-small">Покупка / Продажа</div>
							<div class="table__headings-item table__column-small">Сумма</div>
						</div>
						<div class="table__rows">
							<div class="table__row">
								<div class="table__cell">
									<span class="operations__date">29.08.2020</span>
									<span class="operations__time">18:34:06</span>
								</div>
								<div class="table__cell table__column-large">
									<div class="operations__product">
										<div class="operations__product-visual">
											<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
										</div>
										<div class="operations__product-sort sort sort_2"></div>
										<span class="operations__product-title">Nike Air Max 95 Ultra</span>
									</div>
								</div>
								<div class="table__cell operations__price table__column-small">
									<div class="dollars">7 900 800</div>
								</div>
								<div class="table__cell table__column-small">
									<div class="btn-2">
										Покупка
									</div>
								</div>
							</div>
							<div class="table__row">
								<div class="table__cell">
									<span class="operations__date">29.08.2020</span>
									<span class="operations__time">18:34:06</span>
								</div>
								<div class="table__cell table__column-large">
									<div class="operations__product">
										<div class="operations__product-visual">
											<img class="operations__product-image" src="../../assets/pictures/products/1.png" alt="table-thumbnail"/>
										</div>
										<div class="operations__product-sort sort sort_1"></div>
										<span class="operations__product-title">Mazda 911 Sport</span>
									</div>
								</div>
								<div class="table__cell operations__price table__column-small">
									<div class="dollars">33 900 800</div>
								</div>
								<div class="table__cell table__column-small">
									<div class="btn-2 btn-2_theme_2">
										Продажа
									</div>
								</div>
							</div>
							<div class="table__row">
								<div class="table__cell">
									<span class="operations__date">29.08.2020</span>
									<span class="operations__time">18:34:06</span>
								</div>
								<div class="table__cell table__column-large">
									<div class="operations__product">
										<div class="operations__product-visual">
											<img class="operations__product-image" src="../../assets/pictures/products/2.png" alt="table-thumbnail"/>
										</div>
										<div class="operations__product-sort sort sort_2"></div>
										<span class="operations__product-title">Nike Air Max 95 Ultra</span>
									</div>
								</div>
								<div class="table__cell operations__price table__column-small">
									<div class="dollars">7 900 800</div>
								</div>
								<div class="table__cell table__column-small">
									<div class="btn-2">
										Покупка
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	
		<div class="pagination">
			<a href="" class="pagination__prev box box_size_1 box_prev box_hover box_glow"></a>
			<div class="pagination__items">
				<a href="" class="pagination__item">3</a>
				<a href="" class="pagination__item">4</a>
				<a href="" class="pagination__item pagination__item_active">5</a>
				<a href="" class="pagination__item">6</a>
				<a href="" class="pagination__item">7</a>
			</div>
			<a href="" class="pagination__next box box_size_1 box_next box_hover box_glow"></a>
		</div>
	
	</div>



	<div class="filters">

		<div class="filters__tabs">
			<a href="" class="filters__tab">Мои товары</a>
			<a href="" class="filters__tab filters__tab_active">На продаже<div class="filters__tab-count box box_size_4">67</div></a>
		</div>

		<div class="filters__btn filters-btn">Фильтры и сортировка</div>

		<div class="filters__group">
			<div class="filters__group-inner">

				<div class="filters__header">
					<div class="filters__title">Фильтры</div>
					<div class="filters__close"></div>
				</div>

				<div class="filters__items">

					<div class="filters__item select select_icon select_type">
						<div class="select__btn">
							<div class="select__btn-text">Все товары</div>
						</div>
						<div class="select__list">
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
						</div>
					</div>

					<div class="filters__item select select_icon select_sort">
						<div class="select__btn">
							<div class="select__btn-text">По цене</div>
						</div>
						<div class="select__list">
							<div class="select__item">
								<div class="select__item-text">Транспорт</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Одежда</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Бизнесы</div>
							</div>
							<div class="select__item">
								<div class="select__item-text">Аксессуары</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>



	<div class="products">

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_2"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_3"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_4"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_5"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

		<div class="products__item product product_sale product_profile">
			<div class="product__inner">
				<div class="product__content">
					<span class="product__sort sort sort_1"></span>
					<div class="product__image-wrapper">
						<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
					</div>
					<div class="product__title">Nike Air Max 95 Ultra</div>
					<div class="dollars">7 900 800</div>
					<div class="product__actions">
						<div class="product__btn btn">ПРОДАТЬ</div>
						<div class="product__btn btn">ЗАБРАТЬ</div>
					</div>
				</div>
			</div>
		</div>

	</div>



	<div class="pagination">
		<a href="" class="pagination__prev box box_size_1 box_prev box_hover box_glow"></a>
		<div class="pagination__items">
			<a href="" class="pagination__item">3</a>
			<a href="" class="pagination__item">4</a>
			<a href="" class="pagination__item pagination__item_active">5</a>
			<a href="" class="pagination__item">6</a>
			<a href="" class="pagination__item">7</a>
		</div>
		<a href="" class="pagination__next box box_size_1 box_next box_hover box_glow"></a>
	</div>

</div>