<% locals.setLayout('main.ejs') -%>
<% locals.block('title', 'favorites') -%>
<% locals.block('page', 'favorites') -%>

<div class="favorites-page">

    <%- locals.widget('banners/banners.ejs') %>

    <div class="filters">

        <div class="filters__name">Избранные товары</div>

        <div class="filters__btn filters-btn">Фильтры и сортировка</div>

        <div class="filters__group">
            <div class="filters__group-inner">

                <div class="filters__header">
                    <div class="filters__title">Фильтры</div>
                    <div class="filters__close"></div>
                </div>

                <div class="filters__items">

                    <div class="filters__item select select_icon select_type">
                        <div class="select__btn">
                            <div class="select__btn-text">Все товары</div>
                        </div>
                        <div class="select__list">
                            <div class="select__item">
                                <div class="select__item-text">Транспорт</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Одежда</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Бизнесы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Аксессуары</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Транспорт</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Одежда</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Бизнесы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Аксессуары</div>
                            </div>
                        </div>
                    </div>

                    <div class="filters__item select select_icon select_icon-sort">
                        <div class="select__btn">
                            <div class="select__sort-icon sort sort_1"></div>
                            <div class="select__btn-text">Не выбрано</div>
                        </div>
                        <div class="select__list">
                            <div class="select__item">
                                <div class="select__item-text">Транспорт</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Одежда</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Бизнесы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Аксуссуары</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Мобильные телефоны</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Оружие</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Винилы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Наклейки</div>
                            </div>
                        </div>
                    </div>

                    <div class="filters__item select select_icon select_sort">
                        <div class="select__btn">
                            <div class="select__btn-text">По цене</div>
                        </div>
                        <div class="select__list">
                            <div class="select__item">
                                <div class="select__item-text">Транспорт</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Одежда</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Бизнесы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Аксессуары</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Бизнесы</div>
                            </div>
                            <div class="select__item">
                                <div class="select__item-text">Аксессуары</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <div class="products">

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

        <div class="products__item product product_favorite">
            <div class="product__inner">
                <div class="product__content">
                    <time class="product__date">22:08:56</time>
                    <div class="product__image-wrapper">
                        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
                    </div>
                    <div class="product__title">Mazda 911 Sport</div>
                    <div class="dollars">7 900 800</div>
                    <div class="product__remove box box_size_1 box_close box_hover box_glow"></div>
                    <div class="product__bid">24</div>
                    <div class="product__star"></div>
                </div>
            </div>
        </div>

    </div>

</div>
