<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<title><%- locals.blocks.title %></title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" href="../assets/css/app.css">

</head>
<body>

	<div class="page-wrapper">

		<%- locals.widget('left-sidebar/left-sidebar.ejs') %>
		<div class="content">
			<%- locals.widget('header/header.ejs') %>
			<div class="main-content">
				<main class="page page_<%- locals.blocks.page %>">
					<%- locals.body %>
				</main>
				<%- locals.widget('right-sidebar/right-sidebar.ejs') %>
			</div>
		</div>

		<!--cars-->
		<div class="modal modal_rarity-limited-1 modal_active">
			<div class="modal__content">
				<div class="modal__left">
					<div class="modal__top-btns">
						<div class="box modal__back box_prev box_size_3 box_color_2 box_hover"></div>
						<div class="modal__product-icon-wrapper">
							<img class="modal__product-icon" src="../../assets/pictures/lamborghini.png" alt="product-icon">
						</div>
					</div>
					<div class="modal__carousel">
						<div class="modal__carousel-items">
							<div class="modal__carousel-item">
								<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item" />
							</div>
							<div class="modal__carousel-item modal__carousel-item_active">
								<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item">
							</div>
							<div class="modal__carousel-item">
								<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item" />
							</div>
							<div class="modal__carousel-item">
								<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item" />
							</div>
						</div>
						<div class="modal__carousel-nav">
							<div class="modal__carousel-prev box box_prev box_size_9 box_color_4 box_hover box_glow"></div>
							<div class="modal__carousel-next box box_next box_size_9 box_color_4 box_hover box_glow"></div>
						</div>
					</div>
					<div class="modal__features-btn">
						Характеристики
					</div>

					<div class="modal__features">
						<div class="modal__features-box">
							<div class="heading heading_sm modal__heading">
								<span>Характеристики</span>
								<div class="modal__features-close"></div>
							</div>
							<div class="modal__features-items features">

								<div class="modal__feature-item feature feature_5 features__item">
									<div class="feature__characteristics">
										<div class="feature__title">Скорость</div>
										<div class="feature__value">240 км/ч</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>

								<div class="modal__feature-item feature feature_1 features__item">
									<div class="feature__characteristics">
										<div class="feature__title ">Сцепление</div>
										<div class="feature__value">4.60</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>

								<div class="modal__feature-item feature feature_6 features__item">
									<div class="feature__characteristics">
										<div class="feature__title">Ускорение</div>
										<div class="feature__value">0.32</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>

								<div class="modal__feature-item feature feature_4 features__item">
									<div class="feature__characteristics">
										<div class="feature__title ">Расход топлива</div>
										<div class="feature__value">8.9</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>

								<div class="modal__feature-item feature feature_3 features__item">
									<div class="feature__characteristics">
										<div class="feature__title ">Мощность тормозов</div>
										<div class="feature__value">5.4</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>

								<div class="modal__feature-item feature feature_2 features__item">
									<div class="feature__characteristics">
										<div class="feature__title">Общий рейтинг</div>
										<div class="feature__value">9/10</div>
									</div>
									<div class="slider">
										<span class="slider__filled" style="width: 50%;"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal__right">
					<div class="modal__title">
						Lamborghini Urus
						<div class="modal__close"></div>
					</div>
					<div class="modal__markers">
						<div class="modal__marker">
							<div class="modal__marker-label">НОМЕРНОЙ ЗНАК:</div>
							<div class="modal__marker-value">0008-АХ</div>
						</div>
						<div class="modal__marker">
							<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
							<div class="modal__marker-value modal__rarity">Limited Edition</div>
						</div>
						<div class="modal__marker">
							<div class="modal__marker-label">ПРОБЕГ АВТО:</div>
							<div class="modal__marker-value">240 900</div>
						</div>
						<div class="modal__marker">
							<div class="modal__marker-label">БАГАЖНИК:</div>
							<div class="modal__marker-value">14</div>
						</div>
					</div>
					<div class="modal__description">
						<div class="heading heading_sm">Описание товара</div>
						<div class="modal__description-content">
							The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
							1.49 Diamond Casino Heist update on December 19, 2019.
						</div>
					</div>
					<form class="modal__form">
						<div class="modal__prices">
							<div class="modal__prices-item">
								<div class="modal__prices-title">
									<span>ТЕКУЩАЯ ЦЕНА</span>

									<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

								</div>
								<div class="dollars dollars_size_4 modal__price">
									<input type="text" class="modal__price-input" readonly value="7 900 800">
									<div class="modal__price-edit box box_size_4 box_glow"></div>
								</div>

							</div>
							<div class="modal__prices-item">
								<div class="modal__prices-title">
									<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
									<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

								</div>
								<div class="dollars dollars_size_4 modal__price">
									<input type="text" class="modal__price-input" readonly value="7 900 800">
									<div class="modal__price-edit box box_size_4 box_glow"></div>
								</div>

							</div>
							<div class="modal__prices-item">
								<div class="modal__prices-title">
									<span>БЛИЦ ЦЕНА</span>
									<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

								</div>
								<div class="dollars dollars_size_4 modal__price">
									<input type="text" class="modal__price-input" readonly value="7 900 800">
									<div class="modal__price-edit box box_size_4 box_glow"></div>
								</div>

							</div>
						</div>
						<div class="modal__action">
							<div class="modal__submit btn btn_bigger">ПРОДАТЬ</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

	<script>
		$(function () {
			// nav
			$('.header__nav-btn').on('click', function () {
				$(this).toggleClass('nav-btn_active');
				$('.header__menu').toggleClass('header__menu_active');
			});

			// left sidebar
			$('.header__deals-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.left-sidebar').toggleClass('left-sidebar_active');
			});

			// right sidebar
			$('.header__top-btn').on('click', function () {
				$(this).toggleClass('box_active');
				$('.right-sidebar').toggleClass('right-sidebar_active');
			});

			// filters
			$('.filters-btn').on('click', function () {
				$(this).parent().find('.filters__group').addClass('filters__group_active');
			});

			$('.filters__close').on('click', function () {
				$('.filters__group').removeClass('filters__group_active');
			});

			// modal
			$('.modal__features-btn').on('click', function () {
				$(this).parent().find('.modal__features').addClass('modal__features_active');
			});

			$('.modal__features-close').on('click', function () {
				$('.modal__features').removeClass('modal__features_active');
			});

			$('.modal__price-edit').on('click', function () {
				if ( $(this).hasClass('modal__price-edit_active') ) {
					$(this).parent().find('.modal__price-input').attr('readonly', true);
				}
				else {
					$(this).parent().find('.modal__price-input').attr('readonly', false).focus();
				}

				$(this).toggleClass('modal__price-edit_active');
			});

			$('.modal__back, .modal__close').on('click', function () {
				$('.modal').removeClass('modal_active');
			});

			$('.modal__tooltip').on('click', function () {
				$(this).toggleClass('modal__tooltip_active');
			});

			// select
			$('.select__btn').on('click', function () {
				$(this).parent().toggleClass('select_active');
			});

			// accordion
			$('.accordion__header').on('click', function () {
				$(this).parent().toggleClass('accordion__item_opened');
			});

			// header nots
			$('.header__not-btn, .profile__avatar').on('click', function () {
				$('.header__nots').toggleClass('header__nots_active');
			});
			$('.header__nots-close').on('click', function () {
				$('.header__nots').removeClass('header__nots_active');
			});
		});
	</script>

</body>
</html>