.notifications {
  display: flex;
  flex-direction: column;
  border: 1px solid #20242d;
  border-radius: 42px;
  background-color: $bg-color;
  overflow: hidden;
  padding-right: 7px;

  @include xl {
    padding-right: 14px;
  }

  @include retina {
    border-width: 0.05vw;
    border-radius: 2.18vw;
    padding-right: 0.72vw;
  }

  &__items {
    height: 100%;
    padding: 24px 8px 24px 18px;
    overflow: auto;

    @include xl {
      padding: 24px 15px 24px 32px;
    }

    @include retina {
      padding: 1.25vw 0.78vw 1.25vw 1.66vw;
    }

    &::-webkit-scrollbar {
      display: block;
    }
  
    &::-webkit-scrollbar-track {
      margin: 32px 0;

      @include retina {
        margin: 1.66vw 0;
      }
    }
  }

  &__item {

    &:not(:last-child) {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(37, 41, 53, 0.7);

      @include retina {
        padding-bottom: 1.25vw;
        margin-bottom: 1.25vw;
        border-width: 0.05vw;
      }
    }
  }
}