<div class="notifications">
	<div class="notifications__item notification">
		<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
		<div class="notification__content">
			<div class="notification__title">Предмет продан</div>
			<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
		</div>
		<a href="" class="notification__more box box_size_3 box_next"></a>
	</div>
	<div class="notifications__item notification">
		<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
		<div class="notification__content">
			<div class="notification__title">Предмет продан</div>
			<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
		</div>
		<a href="" class="notification__more box box_size_3 box_next"></a>
	</div>
	<div class="notifications__item notification">
		<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
		<div class="notification__content">
			<div class="notification__title">Предмет продан</div>
			<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4 590</span></div>
		</div>
		<a href="" class="notification__more box box_size_3 box_next"></a>
	</div>
</div>