.faq {
  text-align: center;

  &__heading {
    color: $white;
    font-size: 28px;
    margin-bottom: 25px;

    @include xl {
      font-size: 32px;
      margin-bottom: 15px;
    }

    @include retina {
      font-size: 1.66vw;
      margin-bottom: 0.78vw;
    }
  }

  &__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    max-width: 470px;
    margin: auto;

    @include retina {
      font-size: 0.72vw;
      max-width: 24.47vw;
    }
  }

  &__accordion {
    margin-top: 25px;

    @include xl {
      margin-top: 50px;
    }

    @include retina {
      margin-top: 2.6vw;
    }
  }
}