<div class="players">
	<div class="players__item player">
		<div class="player__avatar avatar avatar_size_3">
			<div class="avatar__wrapper">
				<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
			</div>
			<div class="box box_size_7 avatar__position"></div>
		</div>
		<div class="player__info">
			<div class="player__info-item">
				<div class="player__name">Ashley Graham</div>
				<div class="player__rating rating player__rating">
					<span class="rating__level">5</span>
				</div>
			</div>
			<div class="player__info-item">
				<div class="player__earn">Всего заработано:</div>
				<div class="player__price price">
					<span class="price__currency">$</span>
					<span class="price__count">987KK</span>
				</div>
			</div>
		</div>
	</div>

	<div class="players__item player player_focus">
		<div class="player__avatar avatar avatar_size_3">
			<div class="avatar__wrapper">
				<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
			</div>
			<div class="box box_size_7 avatar__position"></div>
		</div>
		<div class="player__info">
			<div class="player__info-item">
				<div class="player__name">Ashley Graham</div>
				<div class="player__rating rating player__rating">
					<span class="rating__level">5</span>
				</div>
			</div>
			<div class="player__info-item">
				<div class="player__earn">Всего заработано:</div>
				<div class="player__price price">
					<span class="price__currency">$</span>
					<span class="price__count">987KK</span>
				</div>
			</div>
		</div>
	</div>

	<div class="players__item player">
		<div class="player__avatar avatar avatar_size_3">
			<div class="avatar__wrapper">
				<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar">
			</div>
			<div class="box box_size_7 avatar__position"></div>
		</div>
		<div class="player__info">
			<div class="player__info-item">
				<div class="player__name">Ashley Graham</div>
				<div class="player__rating rating player__rating">
					<span class="rating__level">5</span>
				</div>
			</div>
			<div class="player__info-item">
				<div class="player__earn">Всего заработано:</div>
				<div class="player__price price">
					<span class="price__currency">$</span>
					<span class="price__count">987KK</span>
				</div>
			</div>
		</div>
	</div>

</div>