.players {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {

    &:not(:last-child) {
      margin-bottom: 30px;

      @include retina {
        margin-bottom: 1.56vw;
      }
    }
  }
}