.heading {
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  @include lg() {
    font-size: 18px;
  }

  @include retina {
    font-size: 0.93vw;
  }

  &_sm {
    font-size: 14px;

    @include lg() {
      font-size: 14px;
    }

    @include retina {
      font-size: 0.72vw;
    }
  }
}