.products {

  @include sm {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px;
  }

  @media (min-width: 1900px) {
    margin: 0 -12px -24px;
  }

  @include retina {
    margin: 0 -0.62vw -1.25vw;
  }

  &__item {
    
    @include xs-only {
      margin: 0 auto;
    }

    @include sm {
      margin: 0 10px 20px;
    }

    @media (min-width: 1900px) {
      margin: 0 12px 24px;
    }

    @include retina {
      margin: 0 0.62vw 1.25vw;
    }
    
    &:not(:last-child) {
      
      @include xs-only {
        margin-bottom: 14px;

        @include retina {
          margin-bottom: 0.72vw;
        }
      }
    }
  }
}