<div class="products">

	<div class="products__item product">
		<div class="product__inner">
			<div class="product__content">
				<time class="product__date">22:08:56</time>
				<span class="product__sort sort sort_1"></span>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
				</div>
				<div class="product__title">Nike Air Max 95 Ultra</div>
				<div class="dollars">7 900 800</div>

			</div>
		</div>
	</div>

	<div class="products__item product product_sale">
		<div class="product__inner">
			<div class="product__content">
				<span class="product__sort sort sort_1"></span>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/2.png" alt="product-image"/>
				</div>
				<div class="product__title">Nike Air Max 95 Ultra</div>
				<div class="dollars">7 900 800</div>

			</div>
		</div>
	</div>


	<div class="products__item product product_sale product_sale-2">
		<div class="product__inner">
			<div class="product__content">
				<span class="product__sort sort sort_1"></span>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/2.png" alt="product-image"/>
				</div>
				<div class="product__title">Nike Air Max 95 Ultra</div>
				<div class="dollars">7 900 800</div>

				<div class="product__remove box box_size_1 box_close"></div>
				<div class="product__bid">24</div>
			</div>
		</div>
	</div>





	<div class="products__item product product_favorite">
		<div class="product__inner">
			<div class="product__content">
				<time class="product__date">22:08:56</time>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
				</div>
				<div class="product__title">Mazda 911 Sport</div>
				<div class="dollars">7 900 800</div>

				<div class="product__remove box box_size_1 box_close"></div>
				<div class="product__bid">24</div>
				<div class="product__star"></div>
			</div>
		</div>
	</div>

	<div class="products__item product product_buy">
		<div class="product__inner">
			<div class="product__content">
				<time class="product__date">22:08:56</time>
				<span class="product__sort sort sort_2"></span>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
				</div>
				<div class="product__title">Mazda 911 Sport</div>
				<div class="dollars">7 900 800</div>

				<div class="product__bid">24</div>
			</div>
		</div>
	</div>

	<div class="products__item product product_sale product_profile">
		<div class="product__inner">
			<div class="product__content">
				<span class="product__sort sort sort_1"></span>
				<div class="product__image-wrapper">
					<img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
				</div>
				<div class="product__title">Nike Air Max 95 Ultra</div>
				<div class="dollars">7 900 800</div>

				<div class="product__actions">
					<div class="product__btn btn">ПРОДАТЬ</div>
					<div class="product__btn btn">ЗАБРАТЬ</div>
				</div>
			</div>
		</div>
	</div>

</div>