.sort {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;

  @include md {
    width: 8px;
    height: 8px;
  }

  @include retina {
    width: 0.41vw;
    height: 0.41vw;
  }

  &_1 {
    background-color: #e34d45;
  }
  
  &_2 {
    background-color: #8a3bc1;
  }

  &_3 {
    background-color: #544def;
  }

  &_4 {
    background-color: #4795cf
  }
  
  &_5 {
    background-color: #797979;
  }
}