.deals {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    
    &:not(:last-child) {
      margin-bottom: 24px;

      @include retina {
        margin-bottom: 1.25vw;
      }
    }
  }
}