.filters-btn {
	font-size: 14px;
	font-weight: 500;
	background-color: $bg-color;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 42px;
	border-radius: 14px;
	padding: 0 15px 0 40px;
	cursor: pointer;
	background-position: 15px center;
	background-image: url($images + 'icons/filters.svg');
	background-size: 14px auto;
	transition: all $transition;
	
	@include retina {
		font-size: 0.72vw;
		height: 2.18vw;
		border-radius: 0.72vw;
		padding: 0 0.78vw 0 2.08vw;
		background-position: 0.78vw center;
		background-size: 0.72vw auto;
  }
}