<div class="profile">
    <div class="profile__avatar avatar avatar_size_2">
        <div class="avatar__wrapper">
            <img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar"/>
        </div>
    </div>
    <div class="profile__username">
        Aleks Daiwer
    </div>
    <div class="profile__exit"></div>
</div>