.profile {
  display: flex;
  align-items: center;

  &__avatar {
    cursor: pointer;
  }

  &__username {
    color: $white;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 160px);
    margin: 0 14px;

    @include xl {
      font-size: 16px;
      max-width: calc(100% - 100px);
    }

    @include retina {
      font-size: 0.83vw;
      max-width: calc(100% - 5.2vw);
      margin: 0 0.72vw;
    }
  }
  
  &__exit {
    position: relative;
    top: -1px;
    width: 18px;
    height: 15px;
    background-image: url($images + 'icons/exit.svg');
    background-size: contain;
    background-position: center;
    cursor: pointer;

    @include retina {
      width: 0.93vw;
      height: 0.78vw;
      background-size: 0.83vw auto;
    }

    &:hover {
      background-image: url($images + 'icons/exit.2.svg');
    }
  }
}