.filter {
	position: relative;

	&__btn {
		cursor: pointer;
	}

	&__box,
	&__items {
		border-radius: 10px;

		@include retina {
			border-radius: 0.52vw;
		}
	}

	&__box {
		position: absolute;
		top: calc(100% + 15px);
		right: 0;
		width: 168px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.24);
		border: 1px solid #191d27;
		background-color: $bg-color;
		visibility: hidden;
		opacity: 0;
		transform: scale(0.8);
		transform-origin: right top;
		transition: all $transition;

		@include retina {
			top: calc(100% + 0.78vw);
			width: 8.75vw;
			box-shadow: 0 1.04vw 1.04vw rgba(0, 0, 0, 0.24);
			border-width: 0.05vw;
		}

		&:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
    }

    &:before {
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 7px solid #191d27;
      top: -7px;
      right: 5px;

      @include retina {
        border-width: 0 0.57vw 0.36vw;
        top: -0.36vw;
        right: 0.26vw;
      }
    }

    &:after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 6px solid $bg-color;
      top: -6px;
      right: 7px;

      @include retina {
        border-width: 0 0.46vw 0.31vw;
        top: -0.31vw;
        right: 0.36vw;
      }
    }
	}

	&__items {
		overflow: auto;
		max-height: 96px;

		@include retina {
			max-height: 5vw;
		}

		&::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-track {
      margin: 10px 0;

      @include retina {
        margin: 0.52vw;
      }
    }
	}

	&__item {
		display: flex;
		align-items: center;
		color: #7b7b90;
		font-size: 12px;
		min-height: 32px;
		padding: 5px 15px;
		transition: all $transition;
		cursor: pointer;
		user-select: none;

		@include retina {
			font-size: 0.62vw;
			min-height: 1.66vw;
			padding: 0.26vw 0.78vw;
		}

		&:hover,
		&_active {
			color: $white;
			background-color: $bg-color-2;
		}
	}

	&_active {

		.filter__box {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
	}
}