<div class="product">
    <div class="product__top">
        <time class="product__date">22:08:56</time>
        <span class="sort sort_1"></span>
    </div>
    <div class="product__image-wrapper">
        <img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
    </div>
    <div class="product__title">Nike Air Max 95 Ultra</div>
    <div class="price price_bigger">
        <span class="price__currency">$</span>7 900 800
    </div>

</div>

<div class="product product_sale">
    <div class="product__top">
        <span class="sort sort_1"></span>
    </div>
    <div class="product__image-wrapper">
        <img class="product__image" src="../../assets/pictures/products/2.png" alt="product-image"/>
    </div>
    <div class="product__title">Nike Air Max 95 Ultra</div>
    <div class="price price_bigger">
        <span class="price__currency">$</span>7 900 800
    </div>
</div>

<div class="product product_favorite">
    <div class="product__top">
        <time class="product__date">22:08:56</time>
    </div>
    <div class="product__image-wrapper">
        <img class="product__image" src="../../assets/pictures/products/1.png" alt="product-image"/>
    </div>
    <div class="product__title">Mazda 911 Sport</div>
    <div class="price price_bigger">
        <span class="price__currency">$</span>7 900 800
    </div>
    <div class="product__remove box box_size_1"></div>
    <div class="product__bid">24</div>
    <div class="product__star"></div>


</div>

<div class="product product_buy">
    <div class="product__top">
        <time class="product__date">22:08:56</time>
        <span class="sort sort_2"></span>
    </div>
    <div class="product__image-wrapper">
        <img class="product__image" src="../../assets/pictures/products/3.png" alt="product-image"/>
    </div>
    <div class="product__title">Mazda 911 Sport</div>
    <div class="price price_bigger">
        <span class="price__currency">$</span>7 900 800
    </div>
    <div class="product__bid">24</div>

</div>


<div class="product product_sale product_profile">
    <div class="product__top">
        <span class="sort sort_1"></span>
    </div>
    <div class="product__image-wrapper">
        <img class="product__image" src="../../assets/pictures/products/4.png" alt="product-image"/>
    </div>
    <div class="product__title">Nike Air Max 95 Ultra</div>
    <div class="price price_bigger">
        <span class="price__currency">$</span>7 900 800
    </div>
    <div class="product__actions">
        <div class="product__btn btn btn_outline">ПРОДАТЬ</div>
        <div class="product__btn btn btn_outline">ЗАБРАТЬ</div>
    </div>
</div>
