.product {
	border-radius: 42px;
	border: 2px solid #20242d;
	background-color: $bg-color;
	text-align: center;
	transition: all $transition;
	position: relative;

	@include sm {
		width: calc(50% - 20px);
	}

	@include md {
		width: calc(33.33% - 20px);
	}

	@include lg {
		width: calc(25% - 20px);
	}

	@include xl {
		border-radius: 28px;
	}

	@include xxl {
		width: calc(20% - 20px);
	}

	@media (min-width: 1900px) {
		width: calc(16.66% - 24px);
	}

	@include retina {
		width: calc(16.66% - 1.25vw);
		border-radius: 1.45vw;
		border-width: 0.1vw;;
	}

	&:hover {
		border-color: $accent-color;
		box-shadow: 0 0 32px rgba(80, 227, 194, 0.12);

		@include retina {
			box-shadow: 0 0 1.66vw rgba(80, 227, 194, 0.12);
		}

		.product__bid {
			visibility: visible;
			opacity: 1;
		}

		.product__actions {
			opacity: 1;
		}

		.product__remove {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
	}

	&__inner {
		position: relative;
		padding-top: 100%;
	}

	&__content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: 28px 13px 24px;

		@include xl {
			padding: 18px 18px 13px 18px;
		}

		@include retina {
			padding: 0.93vw 0.93vw 0.67vw 0.93vw;
		}
	}

	&__actions {
		display: flex;
		transition: all $transition;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(22, 25, 32, 0.8);
		opacity: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__btn {

		&:not(:last-child) {
			margin-bottom: 14px;

			@include retina {
				margin-bottom: 0.72vw;
			}
		}
	}

	&__bid {
		color: $accent-color;
		font-size: 16px;
		position: absolute;
		left: 28px;
		top: 28px;
		visibility: hidden;
		opacity: 0;
		transition: all $transition;

		@include xl {
			top: 18px;
			left: 18px;
			font-size: 14px;
		}

		@include retina {
			top: 0.93vw;
			left: 0.93vw;
			font-size: 0.72vw;
		}

		&:before {
			width: 17px;
			height: 17px;
			content: "";
			background-image: url($images + 'icons/auction.2.svg');
			display: inline-block;
			margin-right: 6px;
			vertical-align: sub;
			position: relative;
			top: -2px;

			@include xl {
				width: 14px;
				height: 14px;
			}

			@include retina {
				width: 0.72vw;
				height: 0.72vw;
				margin-right: 0.31vw;
				top: -0.1vw;
			}
		}
	}

	&__remove {
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
		position: absolute;
		top: -7px;
		right: -10px;
		cursor: pointer;
		transition: all $transition;

		@include xl {
			top: -8px;
			right: -8px;
		}

		@include retina {
			top: -0.41vw;
			right: -0.41vw;
		}

		&.box {
			border: 1px solid rgba(117, 127, 157, 0.1);

			@include retina {
				border-width: 0.1vw;
			}
		}
	}

	&__date {
		position: absolute;
		top: 28px;
		left: 28px;
		font-size: 14px;
		transition: all $transition;

		@include xl {
			font-size: 12px;
			top: 18px;
			left: 18px;
		}

		@include retina {
			font-size: 0.62vw;
			top: 0.93vw;
			left: 0.93vw;
		}
	}

	&__sort {
		position: absolute;
		top: 31px;
		right: 28px;
		transition: all $transition;

		@include xl {
			top: 18px;
			right: 18px;
		}

		@include retina {
			top: 0.93vw;
			right: 0.93vw;
		}
	}

	&__star {
		position: absolute;
		top: 23px;
		right: 23px;
		transition: all $transition;

		@include xl {
			top: 18px;
			right: 16px;
		}

		@include retina {
			top: 0.93vw;
			right: 0.83vw;
		}

		&:before {
			width: 24px;
			height: 24px;
			content: '';
			background-image: url($images + 'icons/star.2.svg');
			display: block;

			@include xl {
				width: 14px;
				height: 14px;
			}

			@include retina {
				width: 0.72vw;
				height: 0.72vw;
			}
		}
	}

	&__image-wrapper {
		height: 52.38%;
		padding: 0 20px;
		margin: auto 0;
		flex-shrink: 0;

		@include retina {
			padding: 0 1.04vw;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__title {
		font-size: 18px;
		margin-bottom: 12px;

		@include xl {
			font-size: 12px;
			margin-bottom: 3px;
		}

		@include retina {
			font-size: 0.62vw;
			margin-bottom: 0.15vw;
		}
	}

	&_favorite {

		&:hover {

			.product__date,
			.product__star {
				visibility: hidden;
				opacity: 0;
			}
		}
	}

	&_sale {

		&:hover {

			.product__date {
				opacity: 0;
			}

			.product__sort {
				opacity: 0;
			}
		}
	}

	&_buy {

		&:hover {

			.product__date {
				visibility: hidden;
				opacity: 0;
			}
		}
	}

	&_profile {
		overflow: hidden;
	}
}
