.accordion {
	text-align: left;

	&__item {
		border-radius: 20px;
		border: 1px solid #20242d;
		background-color: $bg-color;

		@include retina {
			border-radius: 1.04vw;
			border-width: 0.05vw;
		}

		&:not(:last-child) {
			margin-bottom: 14px;

			@include retina {
				margin-bottom: 0.72vw;
			}
		}

		&_opened {

			.accordion__header {
	
				&:after {
					background-image: url($images + 'icons/minus-2.2.svg');
				}
			}
	
			.accordion__content {
				display: block;
			}
		}
	}

	&__header {
		padding: 17px 45px;
		position: relative;
		font-size: 16px;
		line-height: 1.1875;
		color: $white;
		cursor: pointer;
		user-select: none;

		@include xl {
			padding: 24px 60px;
		}

		@include retina {
			font-size: 0.83vw;
			padding: 1.25vw 3.12vw;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&:before {
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background-color: $accent-color;
			left: 20px;
			top: 22px;

			@include xl {
				top: 29px;
				left: 32px;
			}

			@include retina {
				width: 0.26vw;
				height: 0.26vw;
				top: 1.51vw;
				left: 1.66vw;
			}
		}

		&:after {
			top: 19px;
			right: 20px;
			width: 15px;
			height: 15px;
			background-image: url($images + 'icons/plus.2.svg');
			background-size: contain;
			background-position: center;

			@include xl {
				top: 27px;
				right: 32px;
			}

			@include retina {
				top: 1.4vw;
				right: 1.66vw;
				width: 0.78vw;
				height: 0.78vw;
			}
		}
	}

	&__content {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.64;
		max-width: 640px;
		padding: 0 20px 15px 45px;
		display: none;

		@include xl {
			max-width: 655px;
			padding: 0 20px 30px 60px;
		}

		@include retina {
			font-size: 0.72vw;
			max-width: 34.11vw;
			padding: 0 1.04vw 1.56vw 3.12vw;
		}

		p {

			&:not(:last-child) {
				margin-bottom: 15px;

				@include retina {
					margin-bottom: 0.78vw;
				}
			}
		}
	}
}