<div class="accordion">
	<div class="accordion__item">
		<div class="accordion__header">Ваш баланс и система вывода</div>
		<div class="accordion__content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p>
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
			</p>
		</div>
	</div>
	<div class="accordion__item">
		<div class="accordion__header">Ваш баланс и система вывода</div>
		<div class="accordion__content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p>
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
			</p>
		</div>
	</div>
	<div class="accordion__item accordion__item_opened">
		<div class="accordion__header">Ваш баланс и система вывода</div>
		<div class="accordion__content">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p>
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
			</p>
		</div>
	</div>
</div>