<div class="feature-2 feature-2_1">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_2">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_3">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_4">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_5">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_6">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_7">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>

<div class="feature-2 feature-2_8">
  <div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
  <div class="feature-2__value">2 500</div>
</div>