.feature-2 {
  border-radius: 24px;
  border: 1px solid #20242d;
  background-color: $bg-color;
  padding: 20px 24px;

  @include retina {
    border-radius: 1.25vw;
    border-width: 0.05vw;
    padding: 1.04vw 1.25vw;
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include retina {
      font-size: 0.62vw;
      margin-bottom: 0.52vw;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 20px;

    @include retina {
      font-size: 1.04vw;
    }

    &:before {
      content: '';
      position: relative;
      top: -2px;
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      background-position: center;
      background-size: contain;

      @include retina {
        top: -0.1vw;
        width: 1.04vw;
        height: 1.04vw;
        margin-right: 0.26vw;
      }
    }
  }

  &_1 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/1.svg');
      }
    }
  }

  &_2 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/2.svg');
      }
    }
  }

  &_3 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/3.svg');
      }
    }
  }

  &_4 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/4.svg');
      }
    }
  }

  &_5 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/5.svg');
      }
    }
  }

  &_6 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/6.svg');
      }
    }
  }

  &_7 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/7.svg');
      }
    }
  }

  &_8 {

    .feature-2__value {

      &:before {
        background-image: url($images + 'modules/feature-2/8.svg');
      }
    }
  }
}
