.box {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 28%;
	background-color: $bg-color-2;
	background-position: center;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	color: $grey;
	padding: 1px 3px 0;

	@include retina {
		font-size: 0.72vw;
		padding: 0.05vw 0.15vw 0;
	}

	// sizes

	&_size_1 {
		min-width: 42px;
		height: 42px;
		font-size: 21px;

		@include xl() {
			min-width: 32px;
			height: 32px;
			font-size: 16px;
		}

		@include retina {
			min-width: 1.66vw;
			height: 1.66vw;
			font-size: 0.83vw;
		}

		&.box_glow {

			&:before {
				width: 5px;
				height: 5px;
				filter: blur(5px);

				@include retina {
					width: 0.26vw;
					height: 0.26vw;
					filter: blur(0.26vw);
				}
			}
		}
	}

	&_size_2 {
		min-width: 38px;
		height: 38px;
		font-size: 19px;

		@include retina {
			min-width: 1.97vw;
			height: 1.97vw;
			font-size: 0.98vw;
		}
	}

	&_size_3 {
		min-width: 36px;
		height: 36px;
		font-size: 18px;

		@include retina {
			min-width: 1.87vw;
			height: 1.87vw;
			font-size: 0.93vw;
		}
	}

	&_size_4 {
		min-width: 32px;
		height: 32px;
		font-size: 16px;

		@include retina {
			min-width: 1.66vw;
			height: 1.66vw;
			font-size: 0.83vw;
		}
	}

	&_size_5 {
		min-width: 28px;
		height: 28px;
		font-size: 14px;

		@include retina {
			min-width: 1.45vw;
			height: 1.45vw;
			font-size: 0.72vw;
		}
	}

	&_size_6 {
		min-width: 24px;
		height: 24px;
		font-size: 12px;

		@include retina {
			min-width: 1.25vw;
			height: 1.25vw;
			font-size: 0.62vw;
		}
	}

	&_size_7 {
		min-width: 22px;
		height: 22px;
		font-size: 11px;

		@include retina {
			min-width: 1.14vw;
			height: 1.14vw;
			font-size: 0.57vw;
		}
	}

	&_size_8 {
		min-width: 20px;
		height: 20px;
		font-size: 10px;

		@include retina {
			min-width: 1.04vw;
			height: 1.04vw;
			font-size: 0.52vw;
		}
	}

	&_size_9 {
		min-width: 42px;
		height: 42px;
		font-size: 21px;

		@include retina {
			min-width: 2.18vw;
			height: 2.18vw;
			font-size: 1.09vw;
		}

		&.box_glow {

			&:before {
				width: 7px;
				height: 7px;
				filter: blur(7px);

				@include retina {
					width: 0.36vw;
					height: 0.36vw;
					filter: blur(0.36vw);
				}
			}
		}
	}



	// types

	&_deals {
		background-image: url($images + 'icons/up-down.3.svg');
		background-size: 43% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/up-down.4.svg');
		}
	}

	&_crown {
		background-image: url($images + 'icons/crown.svg');
		background-size: 48% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/crown.2.svg');
		}
	}

	&_crown_gold {
		background-image: url($images + 'icons/crown.gold.svg');
		background-size: 64% auto;
	}

	&_crown_diamond {
		background-image: url($images + 'icons/crown.diamond.svg');
		background-size: 58% auto;
	}

	&_crown_silver {
		background-image: url($images + 'icons/crown.silver.svg');
		background-size: 64% auto;
	}

	&_crown_bronze {
		background-image: url($images + 'icons/crown.bronze.svg');
		background-size: 64% auto;
	}

	&_prev {
		background-image: url($images + 'icons/chevron-left.svg');
		background-size: 17% auto;

		@include xl {
			background-size: 18% auto;
		}

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/chevron-left.2.svg');
		}
	}

	&_next {
		background-image: url($images + 'icons/chevron-right.svg');
		background-size: 17% auto;

		@include xl {
			background-size: 18% auto;
		}

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/chevron-right.2.svg');
		}
	}

	&_plus {
		background-image: url($images + 'icons/plus.svg');
		background-size: 38% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/plus.2.svg');
		}
	}

	&_bell {
		background-image: url($images + 'icons/bell.svg');
		background-size: 42% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/bell.2.svg');
		}
	}

	&_close {
		background-image: url($images + 'icons/x.svg');
		background-size: 36% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/x.2.svg');
		}
	}

	&_cubes {
		background-image: url($images + 'icons/cubes.svg');
		background-size: 44% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/cubes.2.svg');
		}
	}

	&_plane {
		background-image: url($images + 'icons/plane.svg');
		background-size: 48% auto;

		&.box_hover:hover,
		&.box_active {
			background-image: url($images + 'icons/plane.2.svg');
		}
	}

	&_star {
		background-image: url($images + 'icons/star.3.svg');
		background-size: 50% auto;

		&.box_hover:hover {
			background-image: url($images + 'icons/star.2.svg');
		}

		&.box_active {
			background-color: $accent-color;

			&,
			&:hover {
				background-image: url($images + 'icons/star.svg');
			}
		}
	}



	// themes

	&_circle {
		border-radius: 1000px;
	}

	&_glow {
		position: relative;

		&:before {
			content: '';
			width: 7px;
			height: 7px;
			background-color: $accent-color;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			filter: blur(7px);
			opacity: 0;
			transition: all $transition;

			@include retina {
				width: 0.36vw;
				height: 0.36vw;
				filter: blur(0.36vw);
			}
		}

		&:hover {

			&:before {
				opacity: 1;
			}
		}
	}



	// colors

	&_color_2 {
		background-color: $bg-color;
	}

	&_color_3 {
		background-color: #292d39;
	}

	&_color_4 {
		background-color: #2c3240;
	}
}
