<hr>

<div>
	<div>sizes</div><br>

	<div class="box box_size_1"></div>
	<div class="box box_size_2"></div>
	<div class="box box_size_3"></div>
	<div class="box box_size_4"></div>
	<div class="box box_size_5"></div>
	<div class="box box_size_6"></div>
	<div class="box box_size_7"></div>
</div>

<hr>

<div>
	<div>themes</div><br>

	<div class="box box_size_1"></div>
	<div class="box box_size_1 box_circle"></div>
</div>

<hr>

<div>
	<div>colors</div><br>

	<div class="box box_size_1"></div>
	<div class="box box_size_1 box_color_2"></div>
</div>

<hr>

<div>
	<div>types</div><br>

	<div class="box box_size_1"></div>
	<div class="box box_size_1 box_color_2"></div>
</div>

<hr>