.banners {
	display: flex;
	margin-bottom: 32px;

	@include lg-less {
		display: none;
	}

	@include retina {
		margin-bottom: 1.66vw;
	}

	&__item {
		width: calc(50% - 16px);
		
		&:not(:last-child) {
			margin-right: 32px;

			@include retina {
				margin-right: 1.66vw;
			}
		}
	}
}