<div class="banners">
	<div class="banners__item banner-1">
		<div class="banner-1__product-wrapper">
			<img src="../../assets/pictures/banner-product.png" alt="product icon" class="banner-1__product-pic">
		</div>
		<div class="banner-1__content">
			<div class="banner-1__content-active">
				<div class="banner-1__auction">
					<div class="banner-1__auction-title">
						ГОРЯЧИЙ АУКЦИОН
					</div>
					<div class="banner-1__auction-date">
						22:37:03
					</div>
				</div>

				<div class="banner-1__winner-block">
					<div class="banner-1__winner-details">
						<div class="banner-1__winner">
							ПОСЛЕДНИЙ ПОБЕДИТЕЛЬ
						</div>
						<div class="banner-1__winner-name">
							Joslin Rodgers
						</div>
					</div>
					<div class="banner-1__winner-avatar">
						<div class="avatar avatar_size_5 avatar_bordered-1">
							<div class="avatar__wrapper">
								<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-1__content-inactive">
				<div class="banner-1__inactive">
					Одержи свою победу
				</div>
				<a href="" class="btn btn_bigger">
					ПЕРЕЙТИ В АУКЦИОН
				</a>
			</div>
		</div>
	</div>
	<div class="banners__item banner-2">
		<div class="banner-2__avatar">
			<div class="avatar avatar_size_1">
				<div class="avatar__wrapper">
					<img src="../../assets/pictures/avatar-3.jpg" class="avatar__img" alt="user-avatar" />
				</div>
				<div class="avatar__position box box_size_7 box_crown_diamond"></div>
			</div>
			<div class="banner-2__name">
				Lia Castro
			</div>
		</div>
		<div class="banner-2__content">
			<div class="banner-2__content-active">
				<div class="banner-2__earning">
					ЗАРАБОТОК КОРОЛЯ
				</div>
				<div class="banner-2__earning-amount">
					<div class="dollars dollars_size_4">267 900 345</div>
				</div>
			</div>
			<div class="banner-2__content-inactive">
				<div class="banner-2__earning">
					ФЕЕРИЧНЫЙ ЗАРОБОТОК
				</div>
				<div class="banner-2__king">
					КОРОЛЯ!
				</div>
			</div>
		</div>
	</div>
</div>
