.player {
  display: flex;
  align-items: center;
  transition: all $transition;
  z-index: 1;

  & > * {
    flex-shrink: 0;
  }

  &__avatar {
    margin-right: 14px;

    @include retina {
      margin-right: 0.72vw;
    }
  }

  &__info {
    flex-grow: 1;
    padding-top: 2px;

    @include retina {
      padding-top: 0.1vw;
    }
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;

      @include retina {
        margin-bottom: 0.26vw;
      }
    }
  }

  &__name {
    color: $white;
    font-size: 14px;

    @include retina {
      font-size: 0.72vw;
    }
  }

  &__earn {
    color: $grey;
    font-size: 12px;

    @include retina {
      font-size: 0.62vw;
    }
  }

  &_focus {
    position: relative;

    .box {
      background-color: #2e3445;
      border-color: $bg-color-2;
    }

    &:before {
      content: '';
      background: $bg-color-2;
      position: absolute;
      top: -14px;
      bottom: -14px;
      left: -14px;
      right: -14px;
      border-radius: 16px;
      z-index: -1;

      @include retina {
        top: -0.72vw;
        bottom: -0.72vw;
        left: -0.72vw;
        right: -0.72vw;
        border-radius: 0.83vw;
      }
    }
  }

  &__rating,
  &__dollars {
    margin-left: 10px;

    @include retina {
      margin-left: 0.52vw;
    }
  }
}