<header class="header">
	
	<div class="header__nav-btn nav-btn"></div>
	<div class="header__not-btn header__not-btn_updated"></div>
	<div class="header__deals-btn box box_size_1 box_deals box_hover"></div>
	<div class="header__top-btn box box_size_1 box_crown box_hover"></div>

	<div class="header__menu-outer">
		<div class="header__menu">

			<div class="header__group">

				<div class="header__profile profile">
					<div class="profile__avatar avatar avatar_size_2 avatar_badge">
						<div class="avatar__wrapper">
							<img src="../../assets/pictures/avatar.png" class="avatar__img" alt="user-avatar" />
						</div>
					</div>
					<div class="profile__username">
						Aleks Daiwer Aleks Daiwer
					</div>
					<div class="profile__exit"></div>
				</div>

				<div class="header__lang header__lang_2 lang">
					<div class="lang__items">
						<a href="" class="lang__item lang__item_active">
							<img src="../assets/images/modules/lang/en.svg" alt="" class="lang__icon">
						</a>
						<a href="" class="lang__item">
							<img src="../assets/images/modules/lang/ru.svg" alt="" class="lang__icon">
						</a>
					</div>
				</div>

			</div>

			<div class="header__balance balance">
				<div class="dollars dollars_size_2 balance__dollars">23KK</div>
				<div class="coins coins_size_2 balance__coins">24 500</div>
				<div class="balance__charge box box_size_4 box_plus box_hover"></div>
			</div>

			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="" class="nav__link">Купить</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Продать</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Избранное <div class="nav__link-alert"></div></a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link nav__link_active">Faq</a>
					</li>
				</ul>
			</nav>

			<div class="header__lang header__lang_1 lang">
				<div class="lang__items">
					<a href="" class="lang__item lang__item_active">
						<img src="../assets/images/modules/lang/en.svg" alt="" class="lang__icon">
					</a>
					<a href="" class="lang__item">
						<img src="../assets/images/modules/lang/ru.svg" alt="" class="lang__icon">
					</a>
				</div>
			</div>

			<a href="" class="header__logo logo">
				<img src="../assets/images/modules/logo/logo.svg" alt="" class="logo__img">
			</a>

		</div>
	</div>

	<div class="header__nots-outer">
		<div class="header__nots">
			<div class="header__nots-top">
				<div class="header__nots-heading">Уведомления</div>
				<div class="header__nots-close"></div>
			</div>
			<div class="header__nots-box">
				<div class="header__nots-items">
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
					<div class="header__nots-item notification notification_theme_2">
						<div class="notification__icon box box_size_3 box_circle box_color_3 box_bell"></div>
						<div class="notification__content">
							<div class="notification__title">Предмет продан</div>
							<div class="notification__desc">У Вас купили «Sf Street Tee» за <span class="notification__price">$ 4
									590</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>