.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 14px;
  z-index: 20;
  
  @include xl-less {
    height: 72px;
    border: 1px solid #20242d;
    background-color: $bg-color;
  }

  @include sm {
    padding: 0 20px;
  }

  @include md {
    padding: 0 25px;
  }

  @include lg {
    padding: 0 30px;
  }

  @include xl {
    padding: 23px 0 0 40px;
  }

  @include xxl {
    left: 300px;
    padding-left: 52px;
  }

  @include retina {
    left: 15.62vw;
    padding: 1.19vw 0 0 2.7vw;
  }

  &__nav-btn,
  &__not-btn,
  &__top-btn {

    @include xl {
      display: none;
    }
  }

  &__deals-btn {

    &.box {

      @include xl {
        background-color: $bg-color;
      }
    }

    @include xxl {
      display: none;
    }
  }


  &__menu-outer {
    flex-grow: 1;
    
    @include xl-less {
      visibility: hidden;
      opacity: 0;
      background-color: rgba(0, 0, 0, .8);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(100vh - 100%);
      transition: all $transition;
    }

    &_active {

      @include xl-less {
        visibility: visible;
        opacity: 1;
      }

      .header__menu {

        @include xl-less {
          transform: translateX(0);
        }
      }
    }
  }

  &__menu {
    padding: 24px 14px;

    @include xl-less {
      transform: translateX(-100%);
      width: 100%;
      max-width: 500px;
      background-image: radial-gradient(circle 568px at 48.55% 0%, #232733 0%, #1a1d25 100%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 20;
      overflow: auto;
      transition: all $transition;
    }

    @include sm {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    @include md {
      padding-left: 25px;
      padding-right: 25px;
    }
  
    @include lg {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include xl {
      padding: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    
    @include xxl-less {
      display: none;
    }

    @include xl {
      order: 2;
      margin: 0 auto;
    }
  }

  &__balance {
    flex-shrink: 0;

    @include xl-less {
      margin-bottom: 30px;
    }

    @include xl {
      order: 3;
      margin-left: auto;
    }

    @include xxl {
      margin-left: 30px;
    }

    @include retina {
      margin-left: 1.56vw;
    }
  }

  &__group {

    @include xl-less {
      margin-bottom: 24px;
    }

    @include xl {
      display: flex;
      align-items: flex-end;
      width: 350px;
      order: 4;
      padding-right: 15px;
      margin-left: 52px;
    }

    @include xxl {
      padding-right: 22px;
    }

    @include retina {
      width: 18.22vw;
      padding-right: 1.14vw;
      margin-left: 2.7vw;
    }
  }

  &__login-btn {

    &.btn {
      min-width: 180px;

      @include retina {
        min-width: 9.37vw;
      }
    }
  }

  &__profile {

    @include xl {
      max-width: 230px;
      margin-right: 10px;
    }

    @include retina {
      max-width: 11.97vw;
      margin-right: 0.52vw;
    }
  }

  &__lang {
    flex-shrink: 0;
    
    @include xl {
      margin-left: auto;
    }

    &_1 {

      @include xl {
        display: none;
      }
    }

    &_2 {

      @include xl-less {
        display: none;
      }
    }
  }

  &__nav {
    
    @include xl-less {
      margin-bottom: 30px;
    }

    @include xl {
      order: 1;
      margin-right: 30px;
      position: relative;
      top: -23px;
    }

    @include retina {
      margin-right: 1.56vw;
      top: -1.19vw;
    }
  }

  &__not-btn {
    position: relative;
    width: 23px;
    height: 26px;
    background-image: url($images + 'icons/bell.svg');
    background-size: 21px auto;
    background-position: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: 24px;
    transition: all $transition;

    &:before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $accent-color;
      position: absolute;
      top: -5px;
      right: -2px;
      opacity: 0;
      transform-origin: center;
      transform: scale(0);
      transition: inherit;
    }

    &_updated {
      
      &:before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &_active {
      background-image: url($images + 'icons/bell.2.svg');
    }
  }

  &__nots-outer {

    @include xl-less {
      position: fixed;
      top: 72px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .8);
      visibility: hidden;
      opacity: 0;
      transition: all $transition;
    }

    &_active {

      @include xl-less {
        visibility: visible;
        opacity: 1;
      }

      .header__nots {
        transform: translateX(0);

        @include xl {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &__nots {
    position: absolute;
    transform: translateX(100%);
    transition: all $transition;
    
    @include xl-less {
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 500px;
      background-image: radial-gradient(circle 568px at 48.55% 0%, #232733 0%, #1a1d25 100%);
      padding: 24px 14px;
    }

    @include xl {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.8);
      position: fixed;
      width: 328px;
      top: 94px;
      right: 22px;
      transform-origin: left top;
    }

    @include retina {
      width: 17.08vw;
      top: 4.89vw;
      right: 1.14vw;
    }
  }

  &__nots-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 17px;

    @include xl {
      display: none;
    }
  }

  &__nots-heading {
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__nots-close {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-image: url($images + 'icons/x-3.svg');
    position: relative;
    top: -1px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background-image: url($images + 'icons/x-3.2.svg');
    }
  }

  &__nots-box {
    position: relative;
    border: 1px solid #191d27;
    border-radius: 10px 2px 2px 10px;
    background-color: $bg-color;

    @include xl {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.24);
    }

    @include retina {
      border-width: 0.05vw;
      border-radius: 0.52vw;
      box-shadow: 0 1.04vw 1.04vw rgba(0, 0, 0, 0.24);
    }

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
    }

    &:before {
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 7px solid #191d27;
      top: -7px;
      left: 16px;

      @include retina {
        border-width: 0 0.57vw 0.36vw;
        top: -0.36vw;
        left: 0.83vw;
      }
    }

    &:after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 6px solid $bg-color;
      top: -6px;
      left: 18px;

      @include retina {
        border-width: 0 0.46vw 0.31vw;
        top: -0.31vw;
        left: 0.93vw;
      }
    }
  }

  &__nots-items {
    border-radius: 10px 2px 2px 10px;
    overflow: auto;

    @include xl-less {
      max-height: calc(100vh - 150px);
    }

    @include xl {
      max-height: 186px;
    }

    @include retina {
      max-height: 9.68vw;
      border-radius: 0.52vw;
    }

    &::-webkit-scrollbar {
      display: block;
    }
  }

  &__deals-btn {
    cursor: pointer;
    margin-right: 14px;

    @include xl {
      margin-right: 30px;
    }

    @include retina {
      margin-right: 1.56vw;
    }

    &.box {

      @include xl {
        min-width: 42px;
        height: 42px;
      }
    }
  }

  &__top-btn {
    cursor: pointer;
  }

  &_guest {

    .header__group {

      @include xl {
        margin-left: auto;
      }
    }
  }
}