<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Pages</title>

</head>
<body>

	<nav>
		<ul>
			<li><a href="pages/favorites.html">favorites</a></li>
			<li><a href="pages/buy.html">buy</a></li>
			<li><a href="pages/sale.html">sale</a></li>
			<li><a href="pages/sale-2.html">sale-2</a></li>
			<li><a href="pages/cabinet.html">cabinet</a></li>
			<li><a href="pages/faq.html">faq</a></li>
			<li><a href="pages/buy-2.html">header 2</a></li>
		</ul>

		<hr>

		<ul>
			<li><a href="pages/modal-1.html">modal-1</a></li>
			<li><a href="pages/modal-2.html">modal-2</a></li>
			<li><a href="pages/modal-3.html">modal-3</a></li>
			<li><a href="pages/modal-4.html">modal-4</a></li>
			<li><a href="pages/modal-5.html">modal-5</a></li>
			<li><a href="pages/modal-6.html">modal-6</a></li>
			<li><a href="pages/modal-7.html">modal-7</a></li>
			<li><a href="pages/modal-8.html">modal-8</a></li>
		</ul>
		
	</nav>
	
</body>
</html>