
<hr>

<div class="select">
  <div class="select__btn">
    <div class="select__btn-text">Все товары</div>
  </div>
  <div class="select__list">
    <div class="select__item">
      <div class="select__item-text">Транспорт</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Одежда</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Бизнесы</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Аксессуары</div>
    </div>
  </div>
</div>

<hr>

<div class="select select_icon select_icon-default">
  <div class="select__btn">
    <div class="select__btn-text">Все товары</div>
  </div>
  <div class="select__list">
    <div class="select__item">
      <div class="select__item-text">Транспорт</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Одежда</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Бизнесы</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Аксессуары</div>
    </div>
  </div>
</div>

<hr>

<div class="select select_icon select_type">
  <div class="select__btn">
    <div class="select__btn-text">Все товары</div>
  </div>
  <div class="select__list">
    <div class="select__item">
      <div class="select__item-text">Транспорт</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Одежда</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Бизнесы</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Аксессуары</div>
    </div>
  </div>
</div>

<hr>

<div class="select select_icon select_sort">
  <div class="select__btn">
    <div class="select__btn-text">Все товары</div>
  </div>
  <div class="select__list">
    <div class="select__item">
      <div class="select__item-text">Транспорт</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Одежда</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Бизнесы</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Аксессуары</div>
    </div>
  </div>
</div>
<hr>

<div class="select select_icon select_sort select_active">
  <div class="select__btn">
    <div class="select__btn-text">Все товары Все товары Все товары Все товары Все товары</div>
  </div>
  <div class="select__list">
    <div class="select__item">
      <div class="select__item-text">Транспорт Транспорт Транспорт Транспорт Транспорт Транспорт Транспорт</div>
    </div>
    <div class="select__item select__item_selected">
      <div class="select__item-text">Одежда</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Бизнесы</div>
    </div>
    <div class="select__item">
      <div class="select__item-text">Аксессуары</div>
    </div>
  </div>
</di
v>
<hr>
