.select {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  z-index: 10;
  user-select: none;

  @include retina {
    font-size: 0.72vw;
  }

  &__btn,
  &__list {
    background-color: $bg-color;
  }

  &__btn-text,
  &__item-text {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 14px;
    padding: 0 40px 0 15px;
    cursor: pointer;
    transition: all $transition;

    @include retina {
      height: 2.18vw;
      border-radius: 0.72vw;
      padding: 0 2.08vw 0 0.78vw;
    }

    &:after {
      content: '';
      width: 12px;
      height: 7px;
      background-size: 10px auto;
      background-position: center;
      background-image: url($images + 'icons/chevron-down.svg');
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      transition: inherit;

      @include retina {
        width: 0.62vw;
        height: 0.36vw;
        background-size: 0.52vw auto;
        right: 0.78vw;
      }
    }
  }

  &__list {
    visibility: hidden;
    opacity: 0;
    border-radius: 14px;
    overflow: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 168px;
    box-shadow: 0 28px 31px rgba(0, 0, 0, 0.32);
    transition: all $transition;

    @include retina {
      border-radius: 0.72vw;
      max-height: 8.75vw;
      box-shadow: 0 1.45vw 1.61vw rgba(0, 0, 0, 0.32);
    }

    &::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-track {
      margin-bottom: 14px;

      @include retina {
        margin-bottom: 0.72vw;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0 15px;
    cursor: pointer;
    transition: all $transition;

    @include retina {
      height: 2.18vw;
      padding: 0 0.78vw;
    }

    &_selected,
    &:hover {
      color: $white;
      background-color: #262a36;
    }
  }

  &__sort-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all $transition;

    @include retina {
      width: 0.41vw;
      height: 0.41vw;
      left: 0.78vw;
    }
  }

  &_icon {

    .select__btn {
      background-position: 15px center;
      padding-left: 40px;

      @include retina {
        background-position: 0.78vw center;
        padding-left: 2.08vw;
      }
    }
  }

  &_type {

    .select__btn {
      background-image: url($images + 'icons/filters.svg');
      background-size: 14px auto;

      @include retina {
        background-size: 0.72vw auto;
      }
    }
  }

  &_sort {

    .select__btn {
      background-image: url($images + 'icons/sort.svg');
      background-size: 16px auto;

      @include retina {
        background-size: 0.83vw auto;
      }
    }
  }

  &_active {
    z-index: 11;

    .select__btn {
      border-radius: 14px 14px 0 0;
      color: $white;

      @include retina {
        border-radius: 0.72vw 0.72vw 0 0;
      }

      &:after {
        background-image: url($images + 'icons/chevron-down.2.svg');
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .select__list {
      visibility: visible;
      opacity: 1;
      border-radius: 0 0 14px 14px;

      @include retina {
        border-radius: 0 0 0.72vw 0.72vw;
      }
    }

    &.select_icon-default {

      .select__btn {

        &:before {
          background-color: $accent-color;
        }
      }
    }

    &.select_type {

      .select__btn {
        background-image: url($images + 'icons/filters.2.svg');
      }
    }

    &.select_sort {

      .select__btn {
        background-image: url($images + 'icons/sort.2.svg');
      }
    }
  }
}
