.page {
  width: 100%;
  flex-grow: 1;
  padding: 96px 14px 32px;

  @include sm {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include md {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include lg {
    padding: 106px 30px 0;
  }

  @include xl {
    width: calc(100% - 350px);
    height: calc(100vh - 120px);
    padding: 0 40px 36px;
    margin-top: 120px;
    overflow: auto;
  }

  @include xxl {
    padding-left: 52px;
    padding-right: 52px;
  }

  @include retina {
    width: calc(100% - 18.22vw);
    height: calc(100vh - 6.25vw);
    padding: 0 2.7vw 1.87vw;
    margin-top: 6.25vw;
  }
}