.coins {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: $yellow;
  font-family: $font-family-2;

  @include retina {
    font-size: 0.72vw;
  }

  &:before {
    content: '';
    width: 11px;
    height: 12px;
    background-image: url($images + 'icons/coin.svg');
    background-size: contain;
    background-position: center;
    margin-right: 5px;

    @include retina {
      width: 0.57vw;
      height: 0.62vw;
      margin-right: 0.26vw;
    }
  }

  &_size_2 {
    font-size: 16px;

    @include retina {
      font-size: 0.83vw;
    }

    &:before {
      width: 13px;
      height: 14px;
      margin-right: 7px;
  
      @include retina {
        width: 0.67vw;
        height: 0.72vw;
        margin-right: 0.36vw;
      }
    }
  }

  &_size_3 {
    font-size: 18px;

    @include retina {
      font-size: 0.93vw;
    }

    &:before {
      width: 15px;
      height: 16px;
      margin-right: 10px;
  
      @include retina {
        width: 0.78vw;
        height: 0.83vw;
        margin-right: 0.52vw;
      }
    }
  }
}