.modal {
  background-color: rgba(10, 12, 17, 0.75);
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  overflow: auto;
  z-index: 19;
  visibility: hidden;
  opacity: 0;
  transition: all $transition;

  @include lg {
    top: 0;
    padding: 20px;
    z-index: 20;
  }

  @include retina {
    padding: 1.04vw;
  }

  &__content {
    width: 100%;
    margin: auto;
    transform: scale(0.8);
    transition: all $transition;

    @include lg-less {
      background-image: radial-gradient(circle 2448px at 48.55% 0%, #232733 0%, #1a1d25 100%);
      padding-top: 24px;
      padding-bottom: 14px;
    }

    @include lg {
      display: flex;
      max-width: 1250px;
      overflow: hidden;
      background: unset;
    }

    @include retina {
      padding-top: 1.25vw;
      padding-bottom: 0.72vw;
      max-width: 65.1vw;
    }
  }

  &__left {
    overflow: hidden;
    position: relative;

    @include lg {
      width: 100%;
      max-width: 770px;
      border-radius: 72px 0 0 72px;
      background-color: $bg-color-2;
      background-image: radial-gradient(circle 807px at 92.05% 16.98%, #272c3b 0%, #252935 39%, #1a1d25 100%), radial-gradient(circle 1081px at 143.51% 16.98%, #21252f 0%, #15181e 100%);
      padding-top: 52px;
    }

    @include retina {
      max-width: 40.1vw;
      border-radius: 3.75vw 0 0 3.75vw;
      background-image: radial-gradient(circle 42.03vw at 92.05% 16.98%, #272c3b 0%, #252935 39%, #1a1d25 100%),
      radial-gradient(circle 56.3vw at 143.51% 16.98%, #21252f 0%, #15181e 100%);
      padding-top: 2.7vw;
    }
  }

  &__right {
    position: relative;
    margin: 30px 14px 0 14px;
    padding: 24px 24px;
    border-radius: 42px;
    border: 1px solid #20242d;
    background-color: $bg-color;

    @include lg {
      max-width: 480px;
      padding: 42px 52px;
      margin: 0;
      border-radius: 0 72px 72px 0;
    }

    @include retina {
      max-width: 25vw;
      padding: 2.18vw 2.7vw;
      border-radius: 0 3.75vw 3.75vw 0;
      border-width: 0.05vw;
    }
  }

  &__top-btns {
    position: relative;
    margin: 0 14px 15px;
    min-height: 46px;

    @include lg {
      margin: 0 52px 20px;
      min-height: 52px;
    }

    @include retina {
      margin: 0 2.7vw 1.04vw;
      min-height: 2.7vw;
    }
  }

  &__product-icon-wrapper {
    position: absolute;
    top: 0;
    width: 68px;
    height: 45px;

    @include lg-less {
      right: 0;
    }

    @include lg {
      width: 120px;
      height: 80px;
      left: 0;
    }

    @include retina {
      width: 6.25vw;
      height: 4.16vw;
    }
  }

  &__product-icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right top;

    @include lg {
      object-position: left top;
    }
  }


  &__auction-deadline {
    text-align: center;
    padding: 2px 50px 0;

    @include retina {
      padding: 0.1vw 2.6vw 0;
    }
  }

  &__auction-intro {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include lg {
      font-size: 12px;
    }

    @include retina {
      font-size: 0.62vw;
      margin-bottom: 0.52vw;
    }
  }

  &__auction-endtime {
    font-family: $font-family-2;
    font-size: 24px;
    color: $accent-color;

    @include lg {
      font-size: 28px;
    }

    @include retina {
      font-size: 1.45vw;
    }
  }

  &__bidders {

    @include lg-less {
      justify-content: center;
    }

    @include lg {
      position: absolute;
      top: 52px;
      right: 52px;
    }

    @include retina {
      top: 2.7vw;
      right: 2.7vw;
    }
  }


  &__carousel {
    padding-top: 40px;
    position: relative;
    background-image: url($images + 'modules/modal/oval.png');
    background-position: top center;
    background-size: 200px auto;
    margin-bottom: 30px;

    @include sm {
      background-size: 300px auto;
    }

    @include md {
      background-size: 400px auto;
    }

    @include lg {
      display: flex;
      align-items: center;
      min-height: 350px;
      margin-bottom: 80px;
    }

    @include retina {
      padding-top: 2.08vw;
      background-size: 20.83vw auto;
      min-height: 18.22vw;
      margin-bottom: 4.16vw;
    }
  }

  &__carousel-items {
    display: flex;
    width: 100%;
    align-items: center;
    transform: translateX(-19%);

    @include lg {
      transform: translateX(-14%);
    }
  }

  &__carousel-item {
    width: 33%;
    flex-shrink: 0;
    opacity: 0.5;
    transition: all $transition;

    @include lg {
      width: 28%;
    }

    &:not(:last-child) {
      margin-right: 6%;

      @include lg {
        margin-right: 8%;
      }
    }

    &_active {
      width: 60%;
      opacity: 1;

      @include lg {
        width: 55%;
      }

      .modal__carousel-img {
        max-height: 300px;

        @include lg {
          max-height: 450px;
        }

        @include retina {
          max-height: 23.43vw;
        }
      }
    }
  }

  &__carousel-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 150px;

    @include lg {
      max-height: 225px;
    }

    @include retina {
      max-height: 11.71vw;
    }
  }

  &__carousel-prev,
  &__carousel-next {
    position: absolute;
    top: calc(50% + 20px);
    transform: translateY(-50%);
    cursor: pointer;

    @include md-less {
      display: none;
    }

    @include retina {
      top: calc(50% + 1.04vw);
    }
  }

  &__carousel-prev {
    left: 6.75%;
  }

  &__carousel-next {
    right: 6.75%;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    @include lg {
      display: none;
    }
  }

  &__features-btn {
    @extend .select__btn;
    margin: 30px 14px 0;

    &:after {
      display: none;
    }

    &:before {
      width: 15px;
      height: 11px;
      display: inline-block;
      margin-right: 16px;
      content: '';
      background-image: url($images + 'icons/sort.svg');
    }

    @include lg {
      display: none;
    }
  }

  &__features {

    @include lg-less {
      background-color: rgba(0, 0, 0, .8);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transition: all $transition;
      z-index: 20;
    }

    &_active {

      @include lg-less {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__features-box {
    padding: 24px 14px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle 568px at 48.55% 0%, #232733 0%, #1a1d25 100%);
    overflow: auto;

    @include lg-less {
      width: 100%;
      max-width: 500px;
    }

    @include lg {
      position: static;
      background: unset;
      padding: 0 72px 40px 72px;
    }

    @include retina {
      padding: 0 3.75vw 2.08vw 3.75vw;
    }

		&.features-2 {

			@include lg {
				max-width: 648px;
				margin: auto;
			}

			@include retina {
				max-width: 33.75vw;
			}
		}
  }

  &__features-items {}

  &__feature-item {

    @include lg {
      width: 47%;
    }
  }

  &__features-close {
    width: 16px;
    height: 16px;
    background-image: url($images + 'icons/close.svg');
    background-size: 16px auto;
    cursor: pointer;

    @include lg {
      display: none;
    }

    @include retina {
      width: 0.83vw;
      height: 0.83vw;
      background-size: 0.83vw auto;
    }
  }

  &__heading {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
      margin-bottom: 23px;
    }

    @include retina {
      margin-bottom: 1.19vw;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 18px;

    @include lg {
      font-size: 32px;
    }

    @include retina {
      font-size: 1.66vw;
    }
  }

  &__close {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    background-image: url($images + 'icons/x-2.svg');
    background-size: contain;
    cursor: pointer;
    margin-left: 10px;

    @include lg-less {
      display: none;
    }

    @include retina {
      width: 0.83vw;
      height: 0.83vw;
      margin-left: 0.52vw;
    }

    &:hover {
      background-image: url($images + 'icons/x-2.2.svg');
    }
  }

  &__markers {
    margin-top: 34px;

    @include retina {
      margin-top: 1.77vw;
    }
  }

  &__marker {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 18px;

      @include retina {
        margin-bottom: 0.93vw;
      }
    }
  }

  &__rarity {
    font-size: 14px;

    @include retina {
      font-size: 0.72vw;
    }
  }

  &__marker-label {
		width: 50%;
    font-size: 12px;
		text-transform: uppercase;

    @include retina {
      font-size: 0.62vw;
    }
  }

  &__marker-value {
    font-size: 14px;
    color: #fff;
    margin-left: 20px;

    @include retina {
      font-size: 0.72vw;
      margin-left: 1.04vw;
    }
  }

  &__description {
    margin-top: 45px;

    @include retina {
      margin-top: 2.34vw;
    }
  }

  &__description-content {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.8;
    padding-bottom: 32px;
    position: relative;

    @include retina {
      margin-top: 1.04vw;
      font-size: 0.72vw;
      padding-bottom: 1.66vw;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      display: block;
      background-color: #2a303e;

      @include retina {
        height: 0.05vw;
      }
    }
  }

  &__prices {
    margin-top: 35px;

    @include retina {
      margin-top: 1.82vw;
    }
  }

  &__prices-title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-size: 12px;

    @include retina {
      margin-bottom: 0.72vw;
      font-size: 0.62vw;
    }
  }

  &__prices-item {

    &:not(:last-child) {
      margin-bottom: 23px;

      @include retina {
        margin-bottom: 1.19vw;
      }
    }
  }

  &__tooltip {
    margin-left: 5px;
    background-image: url($images + 'icons/question-mark.svg');
    background-size: 8px auto;
    position: relative;
    top: -1px;
    cursor: pointer;
    user-select: none;

    @include retina {
      margin-left: 0.26vw;
      background-size: 0.41vw auto;
      top: -0.05vw;
    }

    &_active {

      .modal__tooltip-box {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__tooltip-box {
    width: 200px;
    font-size: 12px;
    line-height: 1.3;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.24);
    background-color: $bg-color;
    border: 1px solid #191d27;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all $transition;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    @include sm {
      width: 300px;
      font-size: 14px;
    }

    @include retina {
      width: 15.62vw;
      font-size: 0.72vw;
      padding: 0.52vw;
      box-shadow: 0 1.04vw 1.04vw rgba(0, 0, 0, 0.24);
      border-width: 0.05vw;
      border-radius: 0.52vw;
      bottom: calc(100% + 0.52vw);
    }
  }

  &__price {
    display: flex;
    align-items: center;
  }

  &__price-input {
    outline: 0;
    border: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    min-width: 0;
		caret-color: $grey;
  }

  &__price-edit {
    background-image: url($images + 'icons/edit.svg');
    background-size: 15px auto;
    margin-left: 33px;
    cursor: pointer;

    @include retina {
      background-size: 0.78vw auto;
      margin-left: 1.71vw;
    }

    &:hover {
      background-image: url($images + 'icons/edit.2.svg');
    }

    &_active {
      background-image: url($images + 'icons/checkmark.svg');
      background-size: 13px auto;

      @include retina {
        background-size: 0.67vw auto;
      }

      &:hover {
        background-image: url($images + 'icons/checkmark.2.svg');
      }
    }
  }


  &__action {
    margin-top: 38px;

    @include retina {
      margin-top: 1.97vw;
    }
  }

  &__submit {

    &.btn {
      min-width: 100%;

      @include lg {
        min-width: 200px;
      }

      @include retina {
        min-width: 10.41vw;
      }
    }
  }

  &__input-block{
    position: relative;
    margin-bottom: 14px;

    @include retina {
      margin-bottom: 0.72vw;
    }
  }

  &__bid-btn {
    border: none;
    outline: none;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

    @include retina {
      right: 0.41vw;
      top: 0.41vw;
    }

    &.box {
      width: 52px;
      background-size: 18px auto;

      @include retina {
        width: 2.7vw;
        background-size: 0.93vw auto;
      }
    }
  }

  &__input {
    padding-right: 70px;
    -moz-appearance: textfield;

    @include retina {
      padding-right: 3.64vw;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__form {

    @include lg {
      position: relative;
    }
  }

  &__favorite {
    cursor: pointer;

    &_mobile {
      flex-shrink: 0;
      margin-left: 10px;

      @include lg {
        display: none;
      }
    }

    &_desktop {
      position: absolute;
      top: 0;
      right: 0;

      @include lg-less {
        display: none;
      }
    }
  }

  &_rarity-limited-1 {

    .modal__rarity {
      color: #4795cf;
    }
  }

  &_rarity-limited-2 {

    .modal__rarity {
      color: #e34d45;
    }
  }

  &_buy {

    .modal__submit {
      width: 100%;
    }
  }

  &_wout_features {

    .modal__left {

      @include lg {
        display: flex;
        flex-direction: column;
        padding-bottom: 150px;
      }
    }

    .modal__carousel {

      @include lg {
        margin: auto;
      }
    }
  }

  &_active {
    visibility: visible;
    opacity: 1;

    .modal__content {
      transform: scale(1);
    }
  }
}
