<!--cars-->
<div style="display: none" class="modal modal_rarity-limited-1 ">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/lamborghini.png" alt="product-icon">
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>
			<div class="modal__features-btn">
				Характеристики
			</div>
			<div class="modal__features">
				<div class="heading heading_sm modal__heading">
					<span> ХАРАКТЕРИСТИКИ</span>
					<div class="modal__features-close"></div>
				</div>
				<div class="modal__features-group">
					<div class="modal__feature-item feature feature_1 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								СКОРОСТЬ
							</div>
							<div class="feature__value">
								240 км/ч
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_2 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								УСКОРЕНИЕ
							</div>
							<div class="feature__value">
								0.32
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_3 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								МОЩНОСТЬ ТОРМОЗОВ
							</div>
							<div class="feature__value">
								5.4
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_4 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								СЦЕПЛЕНИЕ
							</div>
							<div class="feature__value">
								4.60
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_5 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								РАСХОД ТОПЛИВА
							</div>
							<div class="feature__value">
								8.9
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_6 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								ОБЩИЙ РЕЙТИНГ
							</div>
							<div class="feature__value">
								9/10
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal__right">
			<div class="modal__title">
				Lamborghini Urus
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">НОМЕРНОЙ ЗНАК:</div>
					<div class="modal__marker-value">0008-АХ</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">ПРОБЕГ АВТО:</div>
					<div class="modal__marker-value">240 900</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">БАГАЖНИК:</div>
					<div class="modal__marker-value">14</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="btn modal__btn">ПРОДАТЬ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal modal_rarity-limited-1 modal_buy modal_active">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/lamborghini.png" alt="product-icon">
				</div>
				<div class="modal__auction-deadline">
					<div class="modal__auction-intro">
						До конца аукциона
					</div>
					<div class="modal__auction-endtime">
						22:06:24
					</div>
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/1.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>
			<div class="bidders modal__bidders">
				<div class="bidders__items">
					<div class="bidders__item">
						<div class="bidders__pic-wrapper">
							<img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
						</div>
					</div>
					<div class="bidders__item">
						<div class="bidders__pic-wrapper">
							<img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
						</div>
					</div>
					<div class="bidders__item">
						<div class="bidders__pic-wrapper">
							<img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
						</div>
					</div>
				</div>
				<div class="bidders__count">24</div>
			</div>
			<div class="modal__features-btn">
				Характеристики
			</div>
			<div class="modal__features">
				<div class="heading heading_sm modal__heading">
					<span> ХАРАКТЕРИСТИКИ</span>
					<div class="modal__features-close"></div>
				</div>
				<div class="modal__features-group">
					<div class="modal__feature-item feature feature_1 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								СКОРОСТЬ
							</div>
							<div class="feature__value">
								240 км/ч
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_2 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								УСКОРЕНИЕ
							</div>
							<div class="feature__value">
								0.32
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_3 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								МОЩНОСТЬ ТОРМОЗОВ
							</div>
							<div class="feature__value">
								5.4
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_4 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								СЦЕПЛЕНИЕ
							</div>
							<div class="feature__value">
								4.60
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_5 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								РАСХОД ТОПЛИВА
							</div>
							<div class="feature__value">
								8.9
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_6 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								ОБЩИЙ РЕЙТИНГ
							</div>
							<div class="feature__value">
								9/10
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal__right">
			<div class="modal__title">
				Lamborghini Urus
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">НОМЕРНОЙ ЗНАК:</div>
					<div class="modal__marker-value">0008-АХ</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">ПРОБЕГ АВТО:</div>
					<div class="modal__marker-value">240 900</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">БАГАЖНИК:</div>
					<div class="modal__marker-value">14</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="modal__input-block">
						<input type="number" placeholder="Ваша ставка" class="modal__input">
						<button class="modal__bid-btn"></button>
					</div>

					<div class="btn modal__btn">ВЫКУП ПО БЛИЦ ЦЕНЕ</div>
				</div>
			</form>
		</div>
	</div>
</div>


<!--phone-->
<div style="display: none"  class="modal modal_rarity-limited-2 modal_buy">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>

				<div class="modal__auction-deadline">
					<div class="modal__auction-intro">
						До конца аукциона
					</div>
					<div class="modal__auction-endtime">
						22:06:24
					</div>
				</div>
				<div class="bidders modal__bidders">
					<div class="bidders__items">
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
							</div>
						</div>
					</div>
					<div class="bidders__count">24</div>
				</div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/alcatel.png" alt="product-icon">
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/5.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/5.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/5.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>

		</div>
		<div class="modal__right">
			<div class="modal__title">
				Alcatel Max Pro
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">КАТЕГОРИЯ:</div>
					<div class="modal__marker-value">Смартфон</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">Цвет:</div>
					<div class="modal__marker-value">Черный</div>
				</div>

			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="modal__input-block">
						<input type="number" placeholder="Ваша ставка" class="modal__input">
						<button class="modal__bid-btn"></button>
					</div>

					<div class="btn modal__btn">ВЫКУП ПО БЛИЦ ЦЕНЕ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--weapon-->

<div style="display: none" class="modal modal_rarity-limited-1 modal_buy">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>

				<div class="modal__auction-deadline">
					<div class="modal__auction-intro">
						До конца аукциона
					</div>
					<div class="modal__auction-endtime">
						22:06:24
					</div>
				</div>
				<div class="bidders modal__bidders">
					<div class="bidders__items">
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
							</div>
						</div>
					</div>
					<div class="bidders__count">24</div>
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/7.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/7.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/7.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>
			<div class="modal__features-btn">
				Характеристики
			</div>
			<div class="modal__features">
				<div class="heading heading_sm modal__heading">
					<span> ХАРАКТЕРИСТИКИ</span>
					<div class="modal__features-close"></div>
				</div>
				<div class="modal__features-group">

					<div class="modal__feature-item feature feature_2 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								УСКОРЕНИЕ
							</div>
							<div class="feature__value">
								0.32
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_3 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								МОЩНОСТЬ ТОРМОЗОВ
							</div>
							<div class="feature__value">
								5.4
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_4 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								СЦЕПЛЕНИЕ
							</div>
							<div class="feature__value">
								4.60
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_5 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								РАСХОД ТОПЛИВА
							</div>
							<div class="feature__value">
								8.9
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_6 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								ОБЩИЙ РЕЙТИНГ
							</div>
							<div class="feature__value">
								9/10
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal__right">
			<div class="modal__title">
				Mac-10 Neon Rider
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">КАТЕГОРИЯ:</div>
					<div class="modal__marker-value">Пистолет-пулимет</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">МАССА:</div>
					<div class="modal__marker-value">2.4 кг</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">Калибр:</div>
					<div class="modal__marker-value">11.43</div>
				</div>

			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="modal__input-block">
						<input type="number" placeholder="Ваша ставка" class="modal__input">
						<button class="modal__bid-btn"></button>
					</div>

					<div class="btn modal__btn">ВЫКУП ПО БЛИЦ ЦЕНЕ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--rolex-->

<div style="display: none"  class="modal modal_rarity-limited-2 modal_buy">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/rolex.png" alt="product-icon">
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>

		</div>
		<div class="modal__right">
			<div class="modal__title">
				Rolex Submariner
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">КАТЕГОРИЯ:</div>
					<div class="modal__marker-value">Часы</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="modal__input-block">
						<input type="number" placeholder="Ваша ставка" class="modal__input">
						<button class="modal__bid-btn"></button>
					</div>

					<div class="btn modal__btn">ВЫКУП ПО БЛИЦ ЦЕНЕ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div style="display: none" class="modal modal_rarity-limited-2">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
				<div class="modal__auction-deadline">
					<div class="modal__auction-intro">
						До конца аукциона
					</div>
					<div class="modal__auction-endtime">
						22:06:24
					</div>
				</div>
				<div class="bidders modal__bidders">
					<div class="bidders__items">
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
							</div>
						</div>
					</div>
					<div class="bidders__count">24</div>
				</div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/rolex.png" alt="product-icon">
				</div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/8.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>

		</div>
		<div class="modal__right">
			<div class="modal__title">
				Rolex Submariner
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">КАТЕГОРИЯ:</div>
					<div class="modal__marker-value">Часы</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="btn modal__btn">ПРОДАТЬ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--cafe-->
<div style="display: none"  class="modal modal_rarity-limited-2">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="test"></div>
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/2.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/2.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/2.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>
			<div class="modal__features-btn">
				Характеристики
			</div>
			<div class="modal__features">
				<div class="heading heading_sm modal__heading">
					<span> ХАРАКТЕРИСТИКИ</span>
					<div class="modal__features-close"></div>
				</div>
				<div class="features-2__items">
					<div class="features-2__item feature-2 feature-2_1">
						<div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
						<div class="feature-2__value">2 500</div>
					</div>

					<div class="features-2__item feature-2 feature-2_2">
						<div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
						<div class="feature-2__value">2 500</div>
					</div>

					<div class="features-2__item feature-2 feature-2_3">
						<div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
						<div class="feature-2__value">2 500</div>
					</div>

					<div class="features-2__item feature-2 feature-2_4">
						<div class="feature-2__title">ПОСЕТИТЕЛИ ЗА СУТКИ</div>
						<div class="feature-2__value">2 500</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal__right">
			<div class="modal__title">
				Cafe Leonora
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">НОМЕРНОЙ ЗНАК:</div>
					<div class="modal__marker-value">0008-АХ</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">ПРОБЕГ АВТО:</div>
					<div class="modal__marker-value">240 900</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">БАГАЖНИК:</div>
					<div class="modal__marker-value">14</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div contenteditable="true" class="dollars dollars_size_4 modal__price-editable">7 900 800</div>
						<div class="modal__price-edit box box_size_4"></div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="btn modal__btn">ПРОДАТЬ</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--azimut-->

<div style="display: none" class="modal modal_rarity-limited-2 modal_buy">
	<div class="modal__content">
		<div class="modal__left">
			<div class="modal__top-btns">
				<div class="box modal__close modal__back box_prev box_size_3 box_color_2"></div>
				<div class="modal__product-icon-wrapper">
					<img class="modal__product-icon" src="../../assets/pictures/azimut.png" alt="product-icon">
				</div>
				<div class="modal__auction-deadline">
					<div class="modal__auction-intro">
						До конца аукциона
					</div>
					<div class="modal__auction-endtime">
						22:06:24
					</div>
				</div>
				<div class="bidders modal__bidders">
					<div class="bidders__items">
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/1.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/2.jpg" alt="" class="bidders__pic">
							</div>
						</div>
						<div class="bidders__item">
							<div class="bidders__pic-wrapper">
								<img src="../assets/pictures/bidders/3.jpg" alt="" class="bidders__pic">
							</div>
						</div>
					</div>
					<div class="bidders__count">24</div>
				</div>

			</div>
			<div class="modal__carousel">
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/4.png"
						 alt="carousel-item"/>
				</div>
				<div class="modal__carousel-item modal__carousel-active">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/4.png" alt="carousel-item">
				</div>
				<div class="modal__carousel-item">
					<img class="modal__carousel-img" src="../../assets/pictures/products/big/4.png"
						 alt="carousel-item"/>

				</div>
				<div class="modal__carousel-btns">
					<div class="modal__carousel-btn box box_prev box_size_1"></div>
					<div class="modal__carousel-btn box box_next box_size_1"></div>
				</div>
			</div>
			<div class="modal__features-btn">
				Характеристики
			</div>
			<div class="modal__features">
				<div class="heading heading_sm modal__heading">
					<span> ХАРАКТЕРИСТИКИ</span>
					<div class="modal__features-close"></div>
				</div>
				<div class="modal__features-group">

					<div class="modal__feature-item feature feature_3 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								МОЩНОСТЬ ТОРМОЗОВ
							</div>
							<div class="feature__value">
								5.4
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_4 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								СЦЕПЛЕНИЕ
							</div>
							<div class="feature__value">
								4.60
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_5 features__item">
						<div class="feature__characteristics">
							<div class="feature__title ">
								РАСХОД ТОПЛИВА
							</div>
							<div class="feature__value">
								8.9
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>

					<div class="modal__feature-item feature feature_6 features__item">
						<div class="feature__characteristics">
							<div class="feature__title">
								ОБЩИЙ РЕЙТИНГ
							</div>
							<div class="feature__value">
								9/10
							</div>
						</div>
						<div class="slider">
							<span class="slider__filled" style="width: 50%;"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal__right">
			<div class="modal__title">
				Azimut Flybridge
				<div class="modal__close modal__close"></div>
			</div>
			<div class="modal__markers">
				<div class="modal__marker">
					<div class="modal__marker-label">РАРИТЕТНОСТЬ:</div>
					<div class="modal__marker-value modal__rarity">Limited Edition</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">ПРОБЕГ:</div>
					<div class="modal__marker-value">890 543</div>
				</div>
				<div class="modal__marker">
					<div class="modal__marker-label">БАГАЖНИК:</div>
					<div class="modal__marker-value">75</div>
				</div>
			</div>
			<div class="modal__description">
				<div class="heading heading_sm">Описание товара</div>
				<div class="modal__description-content">
					The Grotti Furia is a Super Car featured in GTA Online (Next Gen), added to the game as part of the
					1.49 Diamond Casino Heist update on December 19, 2019.
				</div>
			</div>
			<form class="modal__form">
				<div class="modal__prices">
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ТЕКУЩАЯ ЦЕНА</span>

							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>ОПТИМАЛЬНАЯ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
					<div class="modal__prices-item">
						<div class="modal__prices-title">
							<span>БЛИЦ ЦЕНА</span>
							<div  class="box modal__tooltip box_size_8 box_circle">
										<div class="modal__tooltip-box">
											Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores expedita iure ipsam obcaecati minima omnis
											quaerat.
										</div>
									</div>

						</div>
						<div class="dollars dollars_size_4 modal__price-editable">7 900 800</div>

					</div>
				</div>
				<div class="modal__sale-btn">
					<div class="modal__input-block">
						<input type="number" placeholder="Ваша ставка" class="modal__input">
						<button class="modal__bid-btn"></button>
					</div>

					<div class="btn modal__btn">ВЫКУП ПО БЛИЦ ЦЕНЕ</div>
				</div>
			</form>
		</div>
	</div>
</div>

